$primary: #00115e;
$accent: #007621;
$tertiary: #6d707c;
$lightgray: #d3d3d3;
$hovergray: gray;
$background: #ffffff;
$white: #ffffff;
$orange: #f4b183;
$black: #2e3840;
$danger: #ea5455;
$sidebarBg: #075680;
$endBg: #7c96ab;
$endfg: #ffffff;
$error: #ba1f34;
$border-color: #077080;
$btnfirst: #075680;
$btnfirstfg: #ffffff;
$btnbefore: #077080;
$success: green;

//card colors
$cardhoverbg: #dde6ed;
// logo colors
$logoborder: #4f83a2; // #19376d; // #37306b;

$primary: #00115e;
$accent: #007621;
$tertiary: #6d707c;

//typeform colors
$tab-color: #737373;

$white: #fff;
$neutral-01: #f2f2f2;
$neutral-02: #eee;
$neutral-03: #ddd;
$neutral-04: #ccc;
$neutral-05: #ccc;
$neutral-06: #999;
$neutral-07: #666;
$neutral-08: #222;
$neutral-09: #111;
$neutral-10: #000;

$success: #1fba90;
$warn: #ffc83d;
$error: #ba1f34;

$highlight: mix($white, $success, 95%);
$selected: mix($white, $success, 85%);

$emoji: #ffc83d;

$page-bg: #ebedf2;

$app-header-bg: $primary;
$app-header-fg: $white;

$toolbar-bg: $neutral-02;
$toolbar-fg: rgba($primary, 0.9);
$toolbar-selected-bg: $neutral-01;
$toolbar-selected-fg: $neutral-08;

$border-color: $neutral-05;

$modal-mask: rgba($primary, 0.3);

// badge
$badge-bg: $neutral-01;
$badge-border: $neutral-03;
$badge-color: $neutral-06;

$badge-active-bg: rgba($success, 0.8);
$badge-active-border: rgba($success, 0.8);
$badge-active-color: $neutral-01;

$badge-inactive-bg: rgba($error, 0.2);
$badge-inactive-border: darken($error, 10%);
$badge-inactive-color: rgba($error, 0.5);

$badge-locked-bg: rgba($error, 0.8);
$badge-locked-border: rgba($error, 0.8);
$badge-locked-color: $neutral-01;

$badge-archived-bg: rgba($error, 0.8);
$badge-archived-border: rgba($error, 0.8);
$badge-archived-color: $neutral-01;

$badge-invited-bg: rgba($warn, 0.8);
$badge-invited-border: rgba($warn, 0.8);
$badge-invited-color: $neutral-08;

$badge-completed-bg: rgba($success, 0.8);
$badge-completed-border: rgba($success, 0.8);
$badge-completed-color: $neutral-01;
