@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Inter:wght@400;500;600;700&display=swap");

$font-family: "Inter", sans-serif;
$heading-font-family: "Barlow", sans-serif;

html,
body {
  font-family: $font-family;
  font-size: 15px;
  font-weight: 500;
}

h1 {
  font-family: $heading-font-family;
  text-transform: capitalize;
  margin: 0.5em 0;

  &:first-child {
    margin-top: 0;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5em 0;

  &:first-child {
    margin-top: 0;
  }
}

h3 {
  font-size: 1.25rem;
  margin: 0.5em 0;

  &:first-child {
    margin-top: 0;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5em 0;

  &:first-child {
    margin-top: 0;
  }
}

h6 {
  font-family: $heading-font-family;
  text-transform: uppercase;
  margin: 0.5em 0;

  &:first-child {
    margin-top: 0;
  }
}

p {
  margin: 0.5em 0;
  line-height: 1.4;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $primary;

  &.link,
  &:visited.link {
    color: $accent;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

input,
button,
textarea {
  font-family: $font-family;
}
