<template>
  <div>
    <h1>
      {{ props.data.survey_title }}
    </h1>
  </div>
</template>
<script setup>
const props = defineProps({
  data: {
    type: Object,
    default: {},
  },
});
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
</style>
