<template>
  <div class="footer">
    <p class="createdDate">
      <span class="date">{{
        parseInt(props.data.responses) > 0 ? props.data.responses : "No"
      }}</span>
      responses
    </p>
  </div>
</template>
<script setup>
import { ref, computed, onMounted } from "vue";
import { useResponsesStore } from "../../stores/responses.js";
// stores
const responseStore = useResponsesStore();
// computed properties
// data
const props = defineProps({
  data: {
    type: Object,
    default: {},
  },
});
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
.footer {
  @include flex-fill;
  .optionsCard {
    padding: $s_50;
    position: absolute;
    z-index: 20;

    @media (min-width: $br-tab-pro) {
      margin-left: 190px;
      margin-top: $s200;
    }
    @media (min-width: $br-mobile) and (max-width: $br-note) {
      margin-left: 140px;
      margin-top: $s;
    }

    background-color: $neutral-03;
  }
}
</style>
