$z-table-head-foot: 1002
$z-table-th-frozen: 1001
$z-table-td-frozen: 1000
$z-table-loading-overlay: 1003

.p-datatable
  .p-datatable-thead > tr,
  .p-datatable-tbody > tr
    justify-content: space-between
  .p-datatable-thead > tr > th
    background: #f1f2f6 !important
    white-space: nowrap
  .p-datatable-tbody > tr > td
    background: $white !important
    > span
      display: inline-block
      width: 100%
      white-space: nowrap
      overflow: hidden
      font-size: 0.9rem
      overflow: hidden
      text-overflow: ellipsis
  .p-datatable-wrapper
    background: $white
  .p-datatable-loading-overlay
    z-index: 1005 !important

.p-datatable-scrollable
  thead, tfoot
    z-index: $z-table-head-foot !important
  th.p-frozen-column
    z-index: $z-table-th-frozen
  td.p-frozen-column
    z-index: $z-table-td-frozen


.paginator
  border-top: 1px solid $neutral-03
  margin: 0 $s
