<template>
  <div>
    <Multiaxis />
  </div>
</template>
<script setup>
import { computed, ref, onMounted, reactive } from "vue";
import { useResponsesStore } from "@/stores/responses";
import { useAnalyticsStore } from "@/stores/surveyAnalytics";
import Multiaxis from "./Multiaxis.vue";
import moment from "moment";
import _ from "lodash";
// stores
const responseStore = useResponsesStore();
const analyticsStore = useAnalyticsStore();
// computed properties
const headerList = computed(() => responseStore.headerList);
const responsesCount = computed(
  () => analyticsStore.surveyDetails.responsesCount
);
const noViews = computed(() => analyticsStore.surveyDetails.views);
const publishedDate = computed(
  () => analyticsStore.surveyDetails.pusblishedDate
);
const completionRate = computed(() =>
  (responsesCount.value / noViews.value).toFixed(2)
);
const responsesList = computed(() => analyticsStore.responsesList);

const props = defineProps({
  surveyId: {
    type: Number || String,
    default: null,
  },
});
// avg responses
function calculateAverageResponses(startDate, totalResponses) {
  const today = moment().startOf("day");
  const startDateObj = moment(startDate).startOf("day");
  const daysPassed = today.diff(startDateObj, "days") + 1;

  const average = totalResponses / daysPassed;
  return average;
}

// get avg time
const averageDuration = computed(() => {
  const durations = _.map(responsesList.value, "duration");
  const totalMilliseconds = _.sumBy(durations, (duration) =>
    moment.duration(duration).asMilliseconds()
  );
  const averageMilliseconds = totalMilliseconds / responsesList.value.length;
  const averageDuration = moment.utc(averageMilliseconds).format("HH:mm:ss");
  return averageDuration;
});
onMounted(async () => {
  await analyticsStore.getSurveyDetails(props.surveyId);
  await analyticsStore.getPublishDate(props.surveyId);
  await analyticsStore.getResponsesBySurveyId(props.surveyId);
});
</script>

<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";

.heading {
  font-size: $s200 !important;
  font-weight: 250 !important;
  color: #262627 !important;
}
.detailsContainer {
  @include flex;

  > * {
    margin-right: $s250; // Add margin between child elements
  }

  > *:first-child {
    // margin-right: 0; // Remove margin from the last child element
  }

  > *:last-child {
    margin-right: 0; // Remove margin from the last child element
  }

  .subDetails {
    // margin-left: $s3;
    // @include flex-v;
    .text {
      font-size: $s150;
      color: $tab-color;
      margin-top: 0px;
    }
    .count {
      font-weight: 500;
      font-size: $s300 !important;
      margin-top: 0px;
    }
  }
}
</style>
