<template>
  <div class="footer">
    <p class="createdDate">
      <span class="date">{{
        parseInt(props.data.responses) > 0 ? props.data.responses : "No"
      }}</span>
      responses
    </p>
    <div class="dotsContainer" @click="onClickThreeDots(props.data.id)">
      <font-awesome-icon icon="fa-solid fa-ellipsis-vertical" />
    </div>
    <div class="optionsCard" v-if="activeWorkSpace.id === props.data.id">
      <div
        v-tooltip.top="`Edit ${props.data.survey_title}`"
        @click="onEditSurvey(props.data.id)"
      >
        <span class="optionsText">Edit</span>
      </div>
      <div
        v-tooltip.bottom="`Delete ${props.data.survey_title}`"
        @click="onDeleteWorkspace(props.data.id)"
      >
        <span class="optionsText">Delete</span>
      </div>
    </div>
  </div>
</template>
<script setup>
import { ref, computed, onMounted } from "vue";
import { useHomeStore } from "../../stores/adminHome";
const emit = defineEmits(["onEdit"]);
// stores
const homeStore = useHomeStore();
// computed properties

// data
const props = defineProps({
  data: {
    type: Object,
    default: {},
  },
});
const activeWorkSpace = ref({
  id: null,
});

// on threedots
function onClickThreeDots(id) {
  if (activeWorkSpace.value.id === id) {
    activeWorkSpace.value.id = null;
  } else {
    activeWorkSpace.value.id = id;
  }
}
// on edit survey
function onEditSurvey(id) {
  homeStore.newWorkSpace.action = "edit";
  homeStore.newWorkSpace.type = props.data.form_type;
  emit("onEdit", props.data);
}

// on delete
async function onDeleteWorkspace(id) {
  await homeStore.deleteSurveyById(id, props.data.form_type);
}
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
.footer {
  @include flex-fill;
  .optionsCard {
    padding: $s_50;
    position: absolute;
    z-index: 20;

    @media (min-width: $br-tab-pro) {
      margin-left: 190px;
      margin-top: $s200;
    }
    @media (min-width: $br-mobile) and (max-width: $br-note) {
      margin-left: 140px;
      margin-top: $s;
    }

    background-color: $neutral-03;
  }
}
</style>
