<template>
  <div class="workSpaceCard">
    <div class="titleContainer">
      <router-link :to="`/admin/surveys/${props.data.id}`">
        <h3>{{ props.data.survey_title }}</h3>
      </router-link>
    </div>
    <div>
      <p>{{ props.data.questions.length }} questions</p>
    </div>
    <hr />
    <CardFooter :data="props.data" @onEdit="onEditSurvey" />
  </div>
</template>
<script setup>
import { ref, computed, watch, onMounted } from "vue";
import CardFooter from "./CardFooter.vue";
const emit = defineEmits(["onEdit"]);
const props = defineProps({
  data: {
    type: Object,
    default: {},
  },
});

function onEditSurvey(data) {
  console.log("card");
  emit("onEdit", props.data);
}
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
.workSpaceCard {
  padding: $s;
  @include shadow($level: 2);
  border-radius: $s_25;
  margin: $s;
  @media (min-width: $br-tab-pro) {
    min-width: 200px;
    min-height: 120px;
  }
  @media (min-width: $br-mobile) and (max-width: $br-note) {
    min-width: 150px;
    min-height: 120px;
  }
  cursor: pointer;
  .titleContainer {
    margin-left: auto;
    margin-right: auto;
  }
  hr {
    border: none;
    height: $s10 !important;
    background-color: $tab-color !important;
    margin-top: $s_50;
  }
  .footer {
    .createdDate {
      color: $tertiary;
      .date {
        color: $neutral-08;
      }
    }
  }
}
</style>
