<template>
  <div class="card-container">
    <!-- <p>{{ props.data }}</p> -->
    <div class="main-details">
      <Image :src="props.data.logo_url" alt="Image" width="60" />
      <div class="title-container">
        <p class="title">{{ props.data.survey_title }}</p>
        <p class="created">Created: {{ props.data.form_created_at }}</p>
      </div>
    </div>
    <div class="sub-details">
      <p>{{ props.data.questions.length }}</p>
      <p>{{ props.data.responses }}</p>
      <p>
        {{
          props.data.published_at === null
            ? "Not publish"
            : props.data.published_at
        }}
      </p>
    </div>
  </div>
</template>
<script setup>
import { ref, computed, watch, onMounted } from "vue";
import CardFooter from "./CardFooter.vue";
import Avatar from "primevue/avatar";
import AvatarGroup from "primevue/avatargroup"; //Optional for grouping
const emit = defineEmits(["onEdit"]);
const props = defineProps({
  data: {
    type: Object,
    default: {},
  },
});
function onEditSurvey(data) {
  console.log("card");
  emit("onEdit", props.data);
}
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";

.card-container {
  @include flex-fill;
  @include shadow($level: 1);
  max-width: 1000px;
  margin-top: $s50;
  margin-left: $s50;
  .main-details {
    @include flex;
    align-self: flex-start !important;
    .title-container {
      margin-top: $s25;
      margin-left: $s250;
      .title {
        font-size: $s250;
      }
      .created {
        color: $tab-color;
      }
    }
  }
  .sub-details {
    @include flex-distribute;
    margin-right: 130px;
    p {
      margin-left: $s200;
      margin-right: $s250;
    }
  }
}
</style>
