<template>
  <div class="header-container">
    <div class="title-container">
      <li>Turiyaform</li>
    </div>
    <div class="details-container">
      <li>Questions</li>
      <li>Responses</li>
      <li>Published</li>
    </div>
  </div>
</template>
<script setup></script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
.header-container {
  @include flex-distribute;
  max-width: 1000px;
  margin-top: $s;

  li {
    list-style: none;
  }
  .title-container {
    align-self: flex-start;
  }
  .details-container {
    @include flex-distribute;
    li {
      margin-left: $s;
      margin-right: $s;
    }
  }
}
</style>
