<template>
  <div class="card">
    <TabView v-model:activeIndex="active">
      <TabPanel header="Category">
        <div class="cardsContainer">
          <div
            v-for="item in mainTopics"
            :key="item"
            class="mainCard"
            @click="setCategory(item)"
          >
            <p class="title">{{ item }}</p>
          </div>
        </div>
      </TabPanel>
      <TabPanel header="Sub Category">
        <div class="cardsContainer">
          <div
            v-for="item in subtopicsArray"
            :key="item"
            class="mainCard"
            @click="setSubCategory(item.prompt, item.topic)"
          >
            <p class="title">{{ item.topic }}</p>
          </div>
        </div>
      </TabPanel>
      <TabPanel header="Questions Details">
        <div>
          <h3>{{ quizData.topic }} -- {{ quizData.subTopicTitle }}</h3>
        </div>
        <div class="optionsContainer">
          <div class="field">
            <label class="text">Select no of questions</label>
            <Dropdown
              v-model="quizData.noOfQuestions"
              editable
              :options="questions"
              optionLabel="name"
              optionValue="code"
              placeholder="Select no of questions"
            />
          </div>
          <div class="field">
            <label class="text">Choose no of options for mcq's</label>
            <Dropdown
              v-model="quizData.noOfOptions"
              editable
              :options="optionsList"
              optionLabel="name"
              optionValue="code"
              placeholder="Choose options for mcq questions"
            />
            <!-- <Textarea v-model="quiz_prompt" rows="10" cols="30" disabled /> -->
          </div>
        </div>
      </TabPanel>
    </TabView>
  </div>
</template>

<script setup>
import { ref, computed, onMounted, watch } from "vue";
import TabView from "primevue/tabview";
import TabPanel from "primevue/tabpanel";
import mainTopics from "./main-topics";
import { subTopics } from "./sub-topics";
const emit = defineEmits(["sendPrompt"]);
const active = ref(0);
const quizData = ref({
  topic: null,
  subTopic: null,
  subTopicTitle: null,
  noOfQuestions: null,
  noOfOptions: null,
});
const subtopicsArray = ref(null);
// set main category
function setCategory(topic) {
  active.value = 1;
  quizData.value.topic = topic;
  subtopicsArray.value = subTopics(topic);
}
// set sub category
function setSubCategory(prompt, topicTitle) {
  active.value = active.value + 1;
  quizData.value.subTopic = prompt;
  quizData.value.subTopicTitle = topicTitle;
}

const quiz_prompt = computed(() => {
  const { topic, subTopic, noOfQuestions, noOfOptions } = quizData.value;
  if (
    topic !== null &&
    subTopic !== null &&
    noOfQuestions !== null &&
    noOfOptions !== null
  ) {
    return `generate ${quizData.value.subTopic} for ${quizData.value.topic} in JSON format: ${quizData.value.noOfQuestions} questions include multiple-choice, yes or no, etc. If a question has multiple-choice options, the options should be ${quizData.value.noOfOptions}. Multiple choice should be in dict format.`;
  } else {
    return "";
  }
});

watch(quiz_prompt, (newPrompt) => {
  if (newPrompt) {
    emit("sendPrompt", newPrompt);
  }
});
const questions = ref([
  {
    name: "5 questions",
    code: "5",
  },
  {
    name: "10 questions",
    code: "10",
  },
  {
    name: "15 questions",
    code: "15",
  },
]);

// options list
const optionsList = ref([
  {
    name: "2",
    code: "2",
  },
  {
    name: "3",
    code: "3",
  },
  {
    name: "4",
    code: "4",
  },
]);
</script>

<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";

.cardsContainer {
  @include flex;
  flex-wrap: wrap;
  .mainCard {
    padding: $s150;
    @include shadow($level: 2);
    border-radius: $s_25;
    margin: $s_50;
    cursor: pointer;
    min-width: 15rem;
    &:hover {
      background-color: $cardhoverbg !important;
      p {
        font-weight: 600;
      }
    }
  }
  .title {
    &:hover {
      font-weight: 600;
    }
  }
}
.optionsContainer {
  @include flex-distribute;
  .field {
    @include flex-v;
    & > * {
      margin-bottom: 0.5rem; /* add margin between child elements */

      &:last-child {
        margin-bottom: 0; /* remove margin from last child element */
      }
    }
    .text {
      align-self: flex-start;
    }
  }
}
</style>
