<template>
  <div>
    <div>
      <Toast />
    </div>
    <div>
      <div
        class="questionCard"
        @click="
          $emit(
            'onHover',
            id,
            question,
            question_type,
            qnIndex,
            question_description
          )
        "
      >
        <p class="question">
          <span>
            <span v-if="props.question_type == 'Yes/No'"
              ><font-awesome-icon icon="fa-solid fa-circle-half-stroke"
            /></span>
            <span v-if="props.question_type == 'Text'"
              ><font-awesome-icon icon="fa-solid fa-keyboard"
            /></span>
            <span v-if="props.question_type == 'MCQ'"
              ><font-awesome-icon icon="fa-regular fa-circle-check"
            /></span>
            <span v-if="props.question_type == 'rating'">
              <font-awesome-icon icon="fa-regular fa-star"
            /></span>
            {{ qnIndex + 1 }}.
          </span>
          <span class="questionText">{{ question }}</span>
        </p>
        <span
          class="threedots cursor-pointer"
          @click="$emit('onDelete', id)"
          v-tooltip.top="'Delete question'"
          ><font-awesome-icon
            icon="fa-solid fa-ellipsis-vertical"
            class="dot-icon"
        /></span>
        <span
          class="threedotsformobile cursor-pointer"
          @click="onOptions(props.id)"
          ><font-awesome-icon
            icon="fa-solid fa-ellipsis-vertical"
            class="dot-icon"
        /></span>
      </div>
      <div
        class="optionsCard"
        @mouseleave="onMouseLeave()"
        v-if="showOptionsCard.status && showOptionsCard.id === props.id"
      >
        <p @click="onEdit()">Edit</p>
        <p @click="$emit('onDelete', id)" v-tooltip.bottom="'Delete question'">
          Delete
        </p>
      </div>
    </div>
    <div v-if="showQuestionForm">
      <Dialog
        v-model:visible="visible"
        modal
        header="Edit Question"
        :style="{ width: '68vw' }"
        :breakpoints="{ '960px': '75vw', '641px': '100vw' }"
      >
        <QuestionForm
          :id="props.id"
          :title="props.question"
          :description="props.question_description"
          :questionType="props.question_type"
          :correctAnswer="props.correct_answer"
          :correctAnsKey="props.correct_ans_key"
          :answers="props.questions_answers"
        />
      </Dialog>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from "vue";
import Dialog from "primevue/dialog";
import { useConfirm } from "primevue/useconfirm";
import ConfirmationService from "primevue/confirmationservice";
import { defineEmits } from "vue";
import { useQuestionareStore } from "../stores/addQuestions";
import QuestionForm from "../components/QuestionForm.vue";

const visible = ref(false);
const questionActionStore = useQuestionareStore();
// computed properties
const showQuestionForm = computed(
  () => questionActionStore.questionFormVisible
);

const props = defineProps({
  question: {
    type: String,
    default: "Question Text",
  },
  id: {
    type: Number,
    default: 1,
  },
  question_type: {
    type: String,
    default: "Yes/No",
  },
  question_description: {
    type: String || null,
    default: "Description",
  },
  qnIndex: {
    type: Number,
    default: 2,
  },
  deleteQuestion: Function,
  questions_answers: {
    type: Object,
    default: {},
  },
  correct_answer: {
    type: String || null,
    default: null,
  },
  correct_ans_key: {
    type: String || null,
    default: null,
  },
});
const showOptionsCard = ref({
  id: "",
  status: false,
});

function onMouseLeave() {
  showOptionsCard.value.status = false;
}
// on edit question
function onEdit() {
  questionActionStore.questionFormVisible = true;
  questionActionStore.questionAction = "edit";
  visible.value = true;
}
function onOptions(id) {
  if (props.id === id) {
    showOptionsCard.value.status = !showOptionsCard.value.status;
    showOptionsCard.value.id = id;
  } else {
    showOptionsCard.value.status = false;
  }
  // console.log(showOptionsCard.value);
}
</script>

<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.closeIcon {
  color: white;
  margin-left: auto;
  cursor: pointer;
}

.questionCard {
  display: flex;
  max-width: 23$s;
  padding: 0.5rem;
  &:hover {
    background-color: #dbdbe1;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .question {
    min-width: 16rem;
    max-width: 18rem;
    @media (max-width: $br-tab) {
      min-width: 11rem;
      max-width: 15rem;
    }
  }

  .questionText {
    flex-wrap: wrap;
    flex-shrink: 1;
  }

  .threedots {
    display: none;
    @media (max-width: $br-tab) {
      // display: none;
    }
    text-align: end;
    margin-top: 0.5rem;
    margin-left: auto;
  }
  .threedotsformobile {
    // @media (min-width: $breakpoint) {
    //   display: none;
    // }
    text-align: end;
    margin-top: 0.5rem;
    margin-left: auto;
  }

  .options {
    display: flex;
    flex-direction: column;
    z-index: 999;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
    padding: $s;
  }
}

.optionsCard {
  display: block;
  background-color: $lightgray;
  padding: 0.5rem !important;
  z-index: 999;
  @include shadow(4);
  margin-top: $s_25;
  margin-bottom: $s_25;
  p {
    margin: auto !important;
    min-width: 100%;
    cursor: pointer;
  }
}

@media screen and (min-width: $br-tab-pro) {
  .optionsCard {
    margin-left: $s1300;
    position: absolute;
  }
}

@media (min-width: $br-tab-mini) and (max-width: $br-tab-pro) {
  .optionsCard {
    margin-left: 40rem;
    margin-right: $s2;
    position: absolute;
  }
}

@media (min-width: $br-mobile) and (max-width: $br-note) {
  .optionsCard {
    margin-left: 18rem;
    position: absolute;
  }
}
</style>
