<template>
  <div class="mainBgContainer">
    <div class="image">
      <img
        src="https://static.wixstatic.com/media/d80ab0_46ac7b8a1ac04f4abceffaf30f9b4dcf~mv2.png/v1/fill/w_100,h_100,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo.png"
        alt="vue"
        class="logo"
      />
    </div>
    <div class="content">
      <form @submit.prevent="verifyEmail" class="form">
        <p v-if="authStore.justSignedUp">Verify your email</p>
        <h6 class="heading">Forgot Password</h6>
        <div class="flex flex-col">
          <label for="email">Email</label>
          <InputText
            type="email"
            placeholder="Verify your email"
            v-model="userDetails.admin_email"
          />
          <span v-if="v$.admin_email.$error" class="text-red-600 text-xs">{{
            v$.admin_email.$errors[0].$message
          }}</span>
        </div>

        <div>
          <button class="button" type="submit">Verify Email</button>
        </div>
        <p v-if="emailError" class="error-msg">{{ emailError }}</p>
        <div class="field back">
          <router-link to="/">
            <font-awesome-icon icon="fa-solid fa-angle-left" />
            Back to login
          </router-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup>
import { ref, computed, onMounted, reactive } from "vue";
import { useLink } from "vue-router";
import { useRouter } from "vue-router";
import { useVuelidate } from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";
import { useAuthStore } from "../stores/auth";

const authStore = useAuthStore();

const emailError = computed(() => authStore.forgotPasswordError);
const userDetails = ref({
  admin_email: null,
});

// validation checks
const validations = computed(() => ({
  admin_email: { required, email },
}));

const v$ = useVuelidate(validations, userDetails);

async function verifyEmail() {
  v$.value.$touch();
  const isValid = await v$.value.$validate();
  console.log(isValid);
  if (isValid) {
    await authStore.onVerifyEmail(userDetails.value);
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";
$bg-image: "../asset/styles/images/bgImage";
$breakpoint: 768px;

$logo-size: 10rem;
$logo-size-mobile: 5rem;

.p-component {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
  font-size: 1rem;
  font-weight: 400;
}

.mainBgContainer {
  display: flex;
  min-height: 100vh !important;
  min-width: 100% !important;
  background-color: $background;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("https://i.postimg.cc/tRthBb2g/pexels-dominika-roseclay-1036808.jpg");
  background-size: cover;
}

.image {
  @include shadow(3);
  @include flex(center, center);
  @include fixed-nw($s2);
  background-color: $white;
  border-radius: $logo-size;
  width: $logo-size;
  height: $logo-size;
  padding: $s;
  margin: $s;
  border: $s50 solid $logoborder;

  img {
    margin: $s * -1;
    max-width: calc(100% + 2rem);
  }
}

@media (max-width: $breakpoint) {
  .image {
    width: $logo-size-mobile;
    height: $logo-size-mobile;
    border: $s25 solid $logoborder;
  }
}
.signUpButton {
  background-color: #f85b3a;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.error-msg {
  color: red;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}

.content {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2rem;
  min-width: 75%;

  @media (max-width: $breakpoint) {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    min-width: 85%;
    margin-bottom: 1rem;
  }
  @media (min-width: 1000px) {
    margin-right: 4rem;
    min-width: 35%;
    border-radius: 0.5rem;
  }

  background-color: $white;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  & > * {
    margin-bottom: 1rem; /* add margin between child elements */

    &:last-child {
      margin-bottom: 0; /* remove margin from last child element */
    }
  }

  .button {
    color: white;
    background-color: $btnfirst;
    min-width: 100%;
    min-height: 2rem;
    padding: 0.5rem;
  }
}
.buttonText {
  color: white;
}

.back {
  margin-top: auto;
  margin-bottom: auto + 1.5rem;
}
</style>
