<template>
  <div class="mainBgContainer">
    <div class="image">
      <img
        src="https://static.wixstatic.com/media/d80ab0_46ac7b8a1ac04f4abceffaf30f9b4dcf~mv2.png/v1/fill/w_100,h_100,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo.png"
        alt="vue"
        class="logo"
      />
    </div>
    <div class="contentContainer">
      <form @submit.prevent="sendLoginRequest" class="formContainer">
        <p v-if="justSigned">Verify your email</p>
        <h6 class="heading">Login</h6>
        <template v-if="!passwordVerified">
          <div class="flex flex-col">
            <label for="email">Email</label>
            <InputText
              type="email"
              id="input-email"
              placeholder="Enter your email address"
              v-model="userDetails.admin_email"
            />
            <span v-if="v$.admin_email.$error" class="text-red-600 text-xs">{{
              v$.admin_email.$errors[0].$message
            }}</span>
          </div>
          <div class="flex flex-col">
            <label for="Password">Password</label>
            <InputText
              :type="passwordType"
              placeholder="Enter your password"
              v-model="userDetails.admin_password"
            />
            <span
              v-if="v$.admin_password.$error"
              class="text-red-600 text-xs"
              >{{ v$.admin_password.$errors[0].$message }}</span
            >
          </div>
          <div class="show-hideConatiner">
            <Checkbox v-model="fieldType.showPassword" :binary="true" />
            <label> Show Password </label>
            <router-link to="/forgot" class="forgot"
              >Forgot Password?</router-link
            >
          </div>

          <div>
            <button class="button" type="submit">Sign In</button>
          </div>
          <p class="error-msg">{{ authStore.logInError }}</p>
        </template>

        <template v-else>
          <label for="otp">Enter OTP</label>
          <InputText
            min="6"
            aria-placeholder="Enter otp"
            id="otp"
            v-model="oneTimePassword"
          />
          <p>A 'One Time Password' is sent to your email</p>
          <div>
            <button class="button" type="submit">Submit</button>
          </div>
          <p class="error-msg">{{ authStore.logInError }}</p>
        </template>
        <hr />
        <div class="signUpCard">
          <p class="font-bold">Not a user yet?</p>
          <button class="signUpButton">
            <router-link to="/signup" class="buttonText">Sign Up</router-link>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup>
import { useVuelidate } from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";
import { ref, computed, onMounted, reactive } from "vue";
import { useLink } from "vue-router";
import { useRouter } from "vue-router";
import { useAuthStore } from "../stores/auth";

const authStore = useAuthStore();
const router = useRouter();

const userDetails = ref({
  admin_email: null,
  admin_password: null,
});

console.log(userDetails.value);

const fieldType = reactive({
  showPassword: false,
});

const passwordType = computed(() =>
  fieldType.showPassword ? "text" : "password"
);

const validations = computed(() => ({
  admin_email: { required, email },
  admin_password: { required },
}));
const oneTimePassword = ref(null);
const passwordVerified = computed(() => authStore.passwordVerified);
const justSigned = computed(() => authStore.justSignedUp);
const otp = oneTimePassword.value;
const v$ = useVuelidate(validations, userDetails);

async function sendLoginRequest(event) {
  v$.value.$touch();
  const isValid = await v$.value.$validate();
  // console.log(isValid);

  const verified = passwordVerified.value;
  if (event && !verified && isValid) {
    authStore.login(userDetails.value);
  } else if (event && verified) {
    authStore.verifyLogInOtp(parseInt(oneTimePassword.value));
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";
$bg-image: "../asset/styles/images/bgImage";
$breakpoint: 768px;

$logo-size: 10rem;
$logo-size-mobile: 5rem;

.p-component {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
  font-size: 1rem;
  font-weight: 400;
}

.mainBgContainer {
  display: flex;
  min-height: 100vh !important;
  min-width: 100% !important;
  background-color: $background;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("https://i.postimg.cc/tRthBb2g/pexels-dominika-roseclay-1036808.jpg");
  background-size: cover;
}

.image {
  @include shadow(3);
  @include flex(center, center);
  @include fixed-nw($s2);
  background-color: $white;
  border-radius: $logo-size;
  width: $logo-size;
  height: $logo-size;
  padding: $s;
  margin: $s;
  border: $s50 solid $logoborder;

  img {
    margin: $s * -1;
    max-width: calc(100% + 2rem);
  }
}

@media (max-width: $breakpoint) {
  .image {
    display: none;
  }
}

.contentContainer {
  background-color: $white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  min-width: 37%;
  // max-height: 30rem !important;
  // justify-self: end !important;
  margin-left: auto;
  margin-right: 3rem;
  margin-top: auto;
  margin-bottom: auto;
  @media (max-width: $breakpoint) {
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.signUpButton {
  background-color: #f85b3a;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.signUpCard {
  display: flex;
  justify-content: center;

  margin-top: 0.2rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0px;
  & > * {
    margin-left: 0.5rem; /* add margin between child elements */

    &:last-child {
      margin-left: 0.5rem; /* remove margin from last child element */
    }
  }
}

.error-msg {
  color: red;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}

.formContainer {
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 1rem; /* add margin between child elements */

    &:last-child {
      margin-bottom: 0; /* remove margin from last child element */
    }
  }

  .button {
    flex-grow: 1;
    color: white;
    background-color: $btnfirst;
    min-width: 100%;
    min-height: 2rem;
    padding: 0.5rem;
  }
}

.show-hideConatiner {
  display: flex;
  flex-grow: 1;
  min-width: 100%;

  & > * {
    /* add margin between child elements */
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    &:last-child {
      margin-bottom: 0; /* remove margin from last child element */
      margin-right: 0.7rem;
      margin-left: 0.1rem;
    }
  }

  .forgot {
    margin-left: auto;
  }
}

.buttonText {
  color: white;
}
</style>
