<template>
  <div class="page">
    <aside>
      <Sidebar />
    </aside>
    <main>
      <div
        v-if="questionareData.currentView === 'loading'"
        class="flex justify-center items-center min-h-screen"
      >
        <ProgressSpinner
          style="width: 50px; height: 50px"
          strokeWidth="8"
          fill="var(--surface-ground)"
          animationDuration=".5s"
          aria-label="Custom ProgressSpinner"
        />
      </div>
      <div
        class="md:flex justify-evenly"
        v-if="questionareData.currentView === 'success'"
      >
        <div class="max-w-lg mx-auto my-8">
          <h2 class="text-2xl font-bold mb-4">Questions in this survey:</h2>
          <div
            v-if="questionareData.newQuestionsView === 'loading'"
            class="flex justify-center items-center"
          >
            <ProgressSpinner
              style="width: 50px; height: 50px"
              strokeWidth="8"
              fill="var(--surface-ground)"
              animationDuration=".5s"
              aria-label="Custom ProgressSpinner"
            />
          </div>
          <div
            v-if="questionareData.newQuestionsView === 'empty'"
            class="flex justify-center items-center"
          >
            <h3 class="text-xl text-semibold">
              You don't have any questions in this survey
            </h3>
          </div>
          <div
            v-if="questionareData.newQuestionsView == 'failure'"
            class="flex justify-center flex-col items-center md:space-y-4 p-4"
          >
            <h6 class="text-white md:text-xl">Something went wrong</h6>
            <Button
              label="Retry"
              severity="success"
              raised
              class="max-h-7"
              @click="getQuestions"
            />
          </div>
          <div v-if="questionareData.newQuestionsView == 'success'">
            <div
              v-for="(question, ind) in questionareData.questionsList"
              :key="question.id"
            >
              <pre>{{ questionareData.questionsList }}</pre>
              <p class="hover:bg-white text-base m-1">
                {{ ind + 1 }}. {{ question.question }}
              </p>
            </div>
          </div>
        </div>
        <CreateQuestion />
      </div>
    </main>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import cookie from "store";
import { useQuestionareStore } from "../stores/addQuestions.js";
import { useHomeStore } from "../stores/adminHome.js";

const questionareData = useQuestionareStore();
const adminData = useHomeStore();

// get questions in the present survey
function getQuestions() {
  questionareData.getQuestionsList(cookie.get("surveyId"));
}

//onMounted hook
onMounted(() => {
  getQuestions();
});
</script>

<style scoped></style>
