<template>
  <div class="page">
    <div
      v-if="questionStore.currentView === 'loading'"
      class="loadingContainer"
    >
      <ProgressSpinner
        style="width: 50px; height: 50px"
        strokeWidth="8"
        fill="var(--surface-ground)"
        animationDuration=".5s"
        aria-label="Custom ProgressSpinner"
      />
    </div>
    <div v-else>
      <aside :class="{ open: menubarOpen }">
        <Sidebar />
      </aside>
      <main>
        <div>
          <div
            v-if="questionStore.currentView != 'loading'"
            class="fixedConatiner"
          >
            <div class="flex">
              <header><hamburger /></header>
              <div class="name-container">
                <h1 class="text-2xl heading">
                  {{ questionStore.surveyTitle }}
                </h1>
              </div>
            </div>
            <div
              class="publish"
              @click="onPublish"
              v-if="
                questionStore.currentView != 'failure' &&
                !menubarOpen &&
                questionStore.questionsList.length > 0
              "
            >
              <div class="publishIconContainer">
                <button class="publishButton">Publish</button>
              </div>
            </div>
            <div class="publishCard" v-if="showPublishedLink">
              <p class="text-center">Get the link</p>
              <div class="linkCard">
                <a :href="publishUrl" target="_blank">{{ publishUrl }}</a>
                <button v-tooltip.top="'Copy link'">
                  <font-awesome-icon icon="fa-solid fa-copy" size="xl" />
                </button>
              </div>
            </div>
          </div>
          <div
            v-if="questionStore.currentView == 'empty'"
            class="flex justify-around"
          ></div>
          <div
            v-if="questionStore.currentView == 'success'"
            class="success-page"
          >
            <div class="flex flex-col">
              <div class="descriptionContainer">
                <h2 v-if="questionStore.surveyDescription != ''">
                  Description:
                </h2>
                <p class="surveyDescription">
                  {{ questionStore.surveyDescription }}
                </p>
              </div>
              <div class="flex">
                <h3>Questions:</h3>
                <span class="plus-icons ml-3 mt-1">
                  <i
                    class="pi pi-plus"
                    @click="addNewQuestion"
                    v-tooltip.top="'Add new question'"
                  ></i>
                </span>
              </div>
              <div v-if="questionStore.questionsList.length == 0">
                <p>You don't have any questions in this survey</p>
              </div>
              <div v-if="showQuestionForm">
                <Dialog
                  v-model:visible="visible"
                  modal
                  header="Add Question"
                  :style="{ width: '50vw' }"
                  :breakpoints="{ '960px': '75vw', '641px': '100vw' }"
                >
                  <QuestionForm />
                </Dialog>
              </div>
              <div class="questionsCard">
                <EachQuestion
                  v-for="(question, ind) in questionStore.questionsList"
                  :key="ind"
                  :question="question.question"
                  :question_type="question.question_type"
                  :question_description="question.description"
                  :questions_answers="question.questions_ans"
                  :correct_answer="question.correct_ans"
                  :correct_ans_key="question.correct_ans_key"
                  :id="question.id"
                  :qnIndex="ind"
                  @onDelete="confirmDelete"
                  @onHover="onHover"
                />
              </div>
            </div>
            <div
              class="questionArea"
              v-if="
                questionStore.currentView == 'success' &&
                questionStore.questionsList.length > 0
              "
            >
              <div class="editArea">
                <div>
                  <span v-if="parseInt(hoveredQnIndex) >= 0" class="qnIndex"
                    >{{ hoveredQnIndex + 1 }}

                    <font-awesome-icon
                      icon="fa-solid fa-arrow-right-long"
                      style="color: #3b6fc9; min-width: 1rem"
                    />
                  </span>
                  <input
                    placeholder="Question text"
                    v-model="onQuestionData.question"
                    class="editInput"
                  />
                </div>
                <hr />
                <textarea
                  placeholder="Question description(Optional)"
                  v-model="onQuestionData.description"
                />
                <hr />
                <div class="category">
                  <div class="categoryCard">
                    <p>Category</p>
                    <span class="plus-icons ml-1 mt-2 hover:bg-slate-200">
                      <i
                        class="pi pi-plus"
                        style="color: green"
                        @click="showCategorys = true"
                        v-tooltip.top="'Add category'"
                      ></i>
                    </span>
                  </div>
                  <div v-if="showCategorys">
                    <font-awesome-icon
                      icon="fa-solid fa-arrow-right-long"
                      style="color: #3b6fc9; min-width: 2rem"
                    />
                    <Dropdown
                      v-model="onQuestionData.question_category"
                      :options="possibleCategorys"
                      optionLabel="name"
                      optionValue="code"
                      placeholder="Select a Category"
                      class="md:w-4rem"
                    />
                  </div>
                </div>
              </div>
              <div class="update-button">
                <button @click="updateQuestion" class="update">Update</button>
                <!-- <Button label="update" class="update" /> -->
              </div>
            </div>
          </div>
          <div
            v-if="questionStore.currentView == 'failure'"
            class="failureContainer"
          >
            <h3>Something went wrong</h3>
            <p>Unable to fetch survey details</p>
            <Button
              @click="getQuestionares"
              label="Retry"
              class="normal-button"
            />
          </div>
        </div>
        <ConfirmDialog></ConfirmDialog>
      </main>
    </div>
  </div>
</template>

<script setup>
import { onMounted, defineAsyncComponent, ref, computed } from "vue";
import draggable from "vuedraggable";
import Dialog from "primevue/dialog";
import { useRoute } from "vue-router";
import { useQuestionStore } from "../stores/surevyDetails";
import { useEachQuestion } from "../stores/eachQuestion";
import { useQuestionareStore } from "../stores/addQuestions.js";
import { useAppStore } from "../stores/appStore";
import cookie from "store";
import { useToast } from "primevue/usetoast";
import { useDialog } from "primevue/usedialog";
import { useConfirm } from "primevue/useconfirm";
import QuestionForm from "../components/QuestionForm.vue";
import EachQuestion from "./EachQuestion.vue";
import copy from "copy-to-clipboard";
const appStore = useAppStore();
const questionActionStore = useQuestionareStore();
const editQuestion = useEachQuestion();
const questionStore = useQuestionStore();

// computed properties
const showQuestionForm = computed(
  () => questionActionStore.questionFormVisible
);
// properties for dialog
const visible = ref(false);
//toast confirm
const toast = useToast();
const confirm = useConfirm();

// get hamberg menu
const menubarOpen = computed(() => appStore.menubarOpen);
const hoveredQnIndex = ref("");
const onQuestionData = ref({
  question: "",
  question_category: null,
  description: "",
});

const showCategorys = ref(false);
const editQnId = ref(null);
const questionsList = ref(null);

// survey link publish card
const showPublishedLink = ref(false);
const publishUrl = ref(null);

const possibleCategorys = ref([
  { name: "Realistic", code: "R" },
  { name: "Social", code: "S" },
  { name: "Investigative", code: "I" },
  { name: "Enterprising", code: "E" },
  { name: "Artistic", code: "A" },
  { name: "Conventional", code: "C" },
]);

// tosat
const showSuccess = () => {
  toast.add({
    severity: "success",
    summary: "Updated status",
    detail: "Successfully question updated",
    life: 3000,
  });
};
const route = useRoute();

const surveyId = route.params.id;
//get current url details
const urlData = ref({
  domain: "",
  ssl: "",
});

// on publish button
async function onPublish() {
  await questionStore.publishSurveyById({
    survey_id: parseInt(surveyId),
    admin_id: cookie.get("adminId"),
  });
  // console.log(questionStore.publishId);
  setTimeout(() => {
    if (questionStore.publishId != null) {
      generateUrl();
    }
  }, 1000);
}

// url construction
async function generateUrl() {
  const newPublishId = questionStore.publishId;
  // console.log(newPublishId);
  const url = `${urlData.value.ssl}${urlData.value.domain}/user/${parseInt(
    surveyId
  )}/${newPublishId}`;
  // console.log(url);
  showPublishedLink.value = true;
  publishUrl.value = url;
  copy(url);
  setTimeout(() => {
    showPublishedLink.value = false;
  }, 14000);
}

// update Question
async function updateQuestion() {
  // console.log(editQnId.value);
  await editQuestion.updateQuestionCategory(
    editQnId.value,
    onQuestionData.value
  );

  getQuestionsInSurvey(surveyId);
  onQuestionData.value.question = "";
  onQuestionData.value.question_category = null;
  onQuestionData.value.description = null;
  hoveredQnIndex.value = null;
  showCategorys.value = false;
  setTimeout(() => {
    showSuccess();
  }, 2000);
}

// delete popup
const confirmDelete = (id) => {
  console.log("deleted", id);
  confirm.require({
    message: "Do you want to delete this question",
    header: "Delete Confirmation",
    icon: "pi pi-info-circle",
    acceptClass: "p-button-danger",
    accept: async () => {
      await questionStore.deleteQuestionById(id, surveyId);
      (onQuestionData.value.question = ""),
        (onQuestionData.value.question_category = null),
        (onQuestionData.value.description = null);
      hoveredQnIndex.value = null;
      showCategorys.value = false;
      setTimeout(() => {
        toast.add({
          severity: "success",
          summary: "Status",
          detail: "Question deleted",
          life: 3000,
        });
      }, 1000);
    },
    reject: () => {
      toast.add({
        severity: "error",
        summary: "Status",
        detail: "You canceled delete",
        life: 3000,
      });
    },
  });
};
// on hover question
async function onHover(
  id,
  question,
  question_type,
  qnIndex,
  question_description
) {
  onQuestionData.value.question = question;
  onQuestionData.value.description = question_description;
  hoveredQnIndex.value = qnIndex;
  editQnId.value = id;
  // console.log(hoveredQnIndex.value);
}

//get questions in questionare
async function getQuestionsInSurvey() {
  await questionStore.getQuestionsList(surveyId);
  questionsList.value = questionStore.questionsList;
}
//dynamic dialog
const dialog = useDialog();
//add new question
const addNewQuestion = () => {
  questionActionStore.questionAction = "new";
  questionActionStore.questionFormVisible = true;
  visible.value = true;
};
// omMounted hook
onMounted(() => {
  cookie.set("surveyId", surveyId);
  questionActionStore.workSpace.type = "";
  getQuestionsInSurvey();
  const currentUrl = window.location.href;
  // Check if SSL is being used
  const isSSL = window.location.protocol === "https:";
  // Extract the domain name
  const domain = window.location.hostname;
  // Extract the path
  const path = window.location.pathname;
  urlData.value.domain = domain;
  if (isSSL) {
    urlData.value.ssl = "https://";
  } else {
    urlData.value.ssl = "http://";
  }
});
</script>

<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";
.page {
  overflow: hidden;
}
.mainConatiner {
  background-color: #eff5f5;
  min-height: 100vh;
}

.loadingContainer {
  main {
    overflow: hidden;
  }
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.publish {
  min-width: 100%;
}
.publishIconContainer {
  background-color: $endBg;
  &:hover {
    background-color: $black;
    color: $white;
  }
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: fit-content;
  margin-left: auto;
  @media screen and (min-width: $br-tab) {
    margin-left: 70%;
  }
  margin-right: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
  cursor: pointer;

  button {
    margin-left: $s25;
    color: #ffffff;
  }
}
.publishCard {
  border-radius: $s;
  position: absolute;
  margin-left: calc(#{$s} * 30);
  margin-top: $s50;
  z-index: 2000;
  @media screen and (max-width: $br-tab) {
    margin-left: auto;
  }
  background-color: whitesmoke;
  padding: $s;
  max-width: fit-content;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin: 0px;
  h2 {
    margin-bottom: 0px;
  }
  p {
    margin-left: $s50;
  }
}

.heading {
  text-align: center !important;
  min-width: 80vw;
}

.failureContainer {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.surveyDescription {
  max-width: $s1500;
}

@media (min-width: $br-mobile) and (max-width: $br-tab-pro) {
  .questionArea {
    display: none;
  }
  .questionsCard {
    max-height: 400px;
    flex-grow: 1 !important;
    overflow: auto;
  }
}

@media screen and (min-width: $br-tab-pro) {
  .success-page {
    display: flex;
  }
  .questionsCard {
    max-height: 400px;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    margin-bottom: $s200 !important;
  }
  .questionArea {
    margin-left: $s200;
    min-height: 500px;
    min-width: 700px;
    border-radius: $s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    @include shadow(4);
    @media screen and (max-width: $br-tab-pro) {
      min-width: 400px;
    }
    .editArea {
      margin: auto;
    }

    .update-button {
      align-self: center;
      margin-top: auto;
      margin-bottom: $s;
    }
  }

  input {
    border: none !important;
    outline: none;
    min-height: $s200 !important;
    margin: $s !important;
    cursor: text;
    &:hover {
      border: none !important;
    }
  }
  .editInput {
    font-size: $s125;
    min-width: $s2000;
  }
  textarea {
    font-size: $s125;
    border: none !important;
    outline: none;
    resize: none;
    min-width: $s2000;
    border-width: 0px !important;
    min-height: $s200 !important;
    margin: $s50 !important;
    cursor: text;
    &:hover {
      border: none !important;
    }
  }
  hr {
    border-top: 0.1rem solid gray;
    margin: $s 0;
  }
  .category {
    display: flex;
    justify-content: space-between;
  }
  .categoryCard {
    display: flex;
  }
}

.linkCard {
  display: flex;
  border-radius: $s50;
  border: 1 solid gray;
  background-color: lightgrey;
  padding: $s50;
  button {
    margin-left: $s50;
  }
}
.update {
  background-color: $btnfirst;
  padding: $s50;
  min-height: $s200;
  min-width: $s200;
  color: $white;
  cursor: pointer;
  border-radius: $s25;
}

.qnIndex {
  font-size: $s125;
}
</style>
