<template>
  <div class="mainBgContainer">
    <div class="image">
      <img
        src="https://static.wixstatic.com/media/d80ab0_46ac7b8a1ac04f4abceffaf30f9b4dcf~mv2.png/v1/fill/w_100,h_100,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo.png"
        alt="vue"
        class="logo"
      />
    </div>
    <div class="contentContainer">
      <form @submit.prevent="sendLoginRequest" class="formContainer">
        <h6 class="heading">Reset Password</h6>

        <div class="flex flex-col">
          <label for="Password">New Password</label>
          <InputText
            :type="passwordType"
            id="input-email"
            placeholder="Enter your new password"
            v-model="userDetails.admin_password"
          />
          <span v-if="v$.admin_password.$error" class="text-red-600 text-xs">{{
            v$.admin_password.$errors[0].$message
          }}</span>
        </div>
        <div class="flex flex-col">
          <label>Confirm Password</label>
          <InputText
            :type="passwordType"
            placeholder="Confirm your password"
            v-model="userDetails.admin_confirm_password"
          />
          <span
            v-if="v$.admin_confirm_password.$error"
            class="text-red-600 text-xs"
            >{{ v$.admin_confirm_password.$errors[0].$message }}</span
          >
        </div>
        <div class="show-hideConatiner">
          <Checkbox v-model="fieldType.showPassword" :binary="true" />
          <label> Show Password </label>
        </div>

        <div>
          <button class="button" type="submit">Reset Password</button>
        </div>
        <p class="error-msg">{{ passwordError }}</p>
      </form>
      <hr />
    </div>
  </div>
</template>

<script setup>
import { useVuelidate } from "@vuelidate/core";
import { required, sameAs } from "@vuelidate/validators";
import { ref, computed, onMounted, reactive } from "vue";
import { useLink } from "vue-router";
import { useRoute } from "vue-router";
import { useAuthStore } from "../stores/auth";

const authStore = useAuthStore();
const router = useRoute();

// console.log(router.params.token);

const userDetails = ref({
  admin_password: null,
  admin_confirm_password: null,
});

const passwordError = computed(() => authStore.forgotPasswordError);

const fieldType = reactive({
  showPassword: false,
});

const passwordType = computed(() =>
  fieldType.showPassword ? "text" : "password"
);
const validations = computed(() => ({
  admin_password: { required },
  admin_confirm_password: {
    required,
    sameAs: sameAs(computed(() => userDetails.value.admin_password)),
  },
}));
const v$ = useVuelidate(validations, userDetails);

async function sendLoginRequest(event) {
  v$.value.$touch();
  const isValid = await v$.value.$validate();
  console.log(isValid);
  if (isValid) {
    authStore.resetPassword(router.params.token, {
      admin_password: userDetails.value.admin_password,
    });
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";
$bg-image: "../asset/styles/images/bgImage";
$breakpoint: 768px;

$logo-size: 10rem;
$logo-size-mobile: 5rem;

.p-component {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
  font-size: 1rem;
  font-weight: 400;
}

.mainBgContainer {
  display: flex;
  min-height: 100vh !important;
  min-width: 100% !important;
  background-color: $background;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("https://i.postimg.cc/tRthBb2g/pexels-dominika-roseclay-1036808.jpg");
  background-size: cover;
}

.image {
  @include shadow(3);
  @include flex(center, center);
  @include fixed-nw($s2);
  background-color: $white;
  border-radius: $logo-size;
  width: $logo-size;
  height: $logo-size;
  padding: $s;
  margin: $s;
  border: $s50 solid $logoborder;

  img {
    margin: $s * -1;
    max-width: calc(100% + 2rem);
  }
}

@media (max-width: $breakpoint) {
  .image {
    display: none;
  }
}

.contentContainer {
  background-color: $white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  min-width: 37%;
  // justify-self: end !important;
  margin-left: auto;
  margin-right: 3rem;
  @media (max-width: $breakpoint) {
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.signUpButton {
  background-color: #f85b3a;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.signUpCard {
  display: flex;
  justify-content: center;

  margin-top: 0.2rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0px;
  & > * {
    margin-left: 0.5rem; /* add margin between child elements */

    &:last-child {
      margin-left: 0.5rem; /* remove margin from last child element */
    }
  }
}

.error-msg {
  color: red;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}

.formContainer {
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 1rem; /* add margin between child elements */

    &:last-child {
      margin-bottom: 0; /* remove margin from last child element */
    }
  }

  .button {
    flex-grow: 1;
    color: white;
    background-color: $btnfirst;
    min-width: 100%;
    min-height: 2rem;
    padding: 0.5rem;
  }
}

.show-hideConatiner {
  display: flex;
  flex-grow: 1;
  min-width: 100%;

  & > * {
    /* add margin between child elements */
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    &:last-child {
      margin-bottom: 0; /* remove margin from last child element */
      margin-right: 0.7rem;
      margin-left: 0.1rem;
    }
  }

  .forgot {
    margin-left: auto;
  }
}

.buttonText {
  color: white;
}
</style>
