<template>
  <div class="page">
    <aside :class="{ open: menubarOpen }">
      <Sidebar />
    </aside>
    <main>
      <div class="nav-nameConatiner">
        <header><hamburger /></header>
        <div class="name-container">
          <h1>Responses</h1>
        </div>
      </div>
      <div v-if="!menubarOpen">
        <template v-if="publishedIds.length == 0">
          <h2>You don't have any published surveys</h2>
          <!-- <Multiaxis /> -->
        </template>
        <template v-else>
          <div class="survyesContainer">
            <Dropdown
              v-model="surveyId"
              :options="publishedSurveys"
              optionLabel="name"
              optionValue="code"
              placeholder="Choose survey"
            ></Dropdown>
          </div>
          <template v-if="columnsList.length > 0">
            <div class="tableContainer">
              <ResponsesTable :surveyId="surveyId" />
            </div>
          </template>
          <template v-else>
            <div class="emptyView">
              <h3>No responses for this survey</h3>
            </div>
          </template>
        </template>
      </div>
    </main>
  </div>
</template>

<script setup>
import {
  computed,
  onMounted,
  reactive,
  ref,
  defineAsyncComponent,
  watch,
} from "vue";
import Sidebar from "../components/Sidebar.vue";
import ResponsesTable from "../components/ResponsesTable.vue";
import Multiaxis from "../components/charts/Multiaxis.vue";
import Dropdown from "primevue/dropdown";
import cookie from "store";
import _ from "lodash";
import { useHomeStore } from "../stores/adminHome";
import { useAppStore } from "../stores/appStore";
import { useResponsesStore } from "../stores/responses";
const appStore = useAppStore();
const homeStore = useHomeStore();
const responseStore = useResponsesStore();
const admin_id = cookie.get("adminId");
const surveyId = ref(null);
const headersList = computed(() => responseStore.headerList);
const columnsList = computed(() => responseStore.responsesList);
const publishedIds = computed(() => responseStore.publishedSurveyIds);
const menubarOpen = computed(() => appStore.menubarOpen);
const surveysData = computed(() => homeStore.surveys);
const surveyOptions = computed(() => {
  return _.map(surveysData.value, (survey) => {
    return {
      name: survey.survey_title,
      code: survey.id,
    };
  });
});

const surveysList = computed(() => _.mapValues(surveyOptions.value));
const surveys = computed(() => _.values(surveysList.value));
const publishedSurveys = computed(() =>
  _.filter(surveys.value, (obj) => _.includes(publishedIds.value, obj.code))
);
watch(surveyId, async (newSurveyId, oldSurveyId) => {
  // console.log(newSurveyId, oldSurveyId);
  await responseStore.getQuestionsList(newSurveyId);
  await responseStore.getResponsesBySurveyId(newSurveyId);
});

onMounted(async () => {
  await homeStore.getQuestionares(admin_id);
  await responseStore.getPublishedSurveys(admin_id);
});
</script>

<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";
.page {
  overflow: hidden;
}
.nav-nameConatiner {
  @media screen and (min-width: $br-tab) {
    .name-container {
      min-width: 80%;
      h1 {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
  display: flex;
  .name-container {
    h1 {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

.name-container {
  text-align: center;
  min-width: 100%;
}

@media (min-width: $br-tab) {
  .name-container {
    padding: $s_25 !important;
    text-align: center !important;
  }
}
.survyesContainer {
  margin-top: 1rem;
}

.p-dropdown,
.p-inputtext {
  min-width: 250px; /* Change this value to set the desired minimum width */
}
@media screen and (min-width: $br-tab-pro) {
  .tableContainer {
    max-width: 1000px;
  }
}
</style>
