<template>
  <div class="mainBgContainer">
    <div class="image">
      <img
        src="https://static.wixstatic.com/media/d80ab0_46ac7b8a1ac04f4abceffaf30f9b4dcf~mv2.png/v1/fill/w_100,h_100,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo.png"
        alt="vue"
        class="logo"
      />
    </div>
    <div v-if="authStore.currentView == 'success'" class="contentContainer">
      <form @submit.prevent="createNewAdmin()" class="formContainer">
        <h6 class="heading">Signup</h6>
        <div class="field">
          <div class="flex flex-col">
            <label for="email">Email</label>
            <InputText
              type="email"
              v-model="formData.admin_email"
              placeholder="Enter your address"
            />
            <span v-if="v$.admin_email.$error" class="text-red-600 text-xs">{{
              v$.admin_email.$errors[0].$message
            }}</span>
          </div>
          <div class="flex flex-col">
            <label for="mobike">Mobile</label>
            <InputText
              type="number"
              placeholder="Enter your mobile number"
              v-model="formData.admin_mobile_number"
            />
            <span
              v-if="v$.admin_mobile_number.$error"
              class="text-red-600 text-xs"
              >{{ v$.admin_mobile_number.$errors[0].$message }}</span
            >
          </div>
        </div>
        <div class="flex flex-col usernameConatiner">
          <label for="Password">Name</label>
          <InputText
            type="text"
            placeholder="Enter name"
            v-model="formData.admin_username"
          />
          <span v-if="v$.admin_username.$error" class="text-red-600 text-xs">{{
            v$.admin_username.$errors[0].$message
          }}</span>
        </div>
        <div class="field">
          <div class="flex flex-col">
            <label>Password</label>
            <InputText
              :type="passwordType"
              v-model="formData.admin_password"
              placeholder="Enter your password"
            />
            <span
              v-if="v$.admin_password.$error"
              class="text-red-600 text-xs"
              >{{ v$.admin_password.$errors[0].$message }}</span
            >
          </div>
          <div class="flex flex-col">
            <label>Confirm Password</label>
            <InputText
              :type="passwordType"
              v-model="formData.admin_confirm_password"
              placeholder="Confirm your password"
            />
            <span
              v-if="v$.admin_confirm_password.$error"
              class="text-red-600 text-xs"
              >{{ v$.admin_confirm_password.$errors[0].$message }}</span
            >
          </div>
        </div>
        <div class="show-hideConatiner">
          <Checkbox v-model="fieldType.showPassword" :binary="true" />
          <label> Show Password </label>
        </div>
        <div class="buttonContainer">
          <button class="button" type="submit">Sign In</button>
        </div>
        <p v-if="authStore.signUpError != null" class="error-msg">
          {{ authStore.signUpError }}
        </p>
        <p class="error-msg">{{ authStore.logInError }}</p>
      </form>
      <div class="signinCard">
        <p class="font-bold">Already a user?</p>
        <button class="signUpButton">
          <router-link to="/" class="buttonText">Sign In</router-link>
        </button>
      </div>
    </div>
  </div>
</template>
<script setup>
import { useVuelidate } from "@vuelidate/core";
import { useRoute, useRouter } from "vue-router";
import {
  required,
  email,
  numeric,
  sameAs,
  minLength,
  maxLength,
} from "@vuelidate/validators";
import { ref, computed, reactive } from "vue";
import { useAuthStore } from "../stores/auth";

const authStore = useAuthStore();
const validations = computed(() => ({
  admin_username: { required, alpha: (value) => /^[a-z ,.'-]+$/i.test(value) },
  admin_email: { required, email },
  admin_mobile_number: {
    required,
    numeric,
    minLength: minLength(10),
    maxLength: maxLength(10),
  },
  admin_password: { required },
  admin_confirm_password: {
    required,
    sameAs: sameAs(computed(() => formData.value.admin_password)),
  },
}));

const formData = ref({
  admin_username: null,
  admin_mobile_number: null,
  admin_email: null,
  admin_password: null,
  admin_confirm_password: null,
});

const fieldType = reactive({
  showPassword: false,
});

const passwordType = computed(() =>
  fieldType.showPassword ? "text" : "password"
);

const v$ = useVuelidate(validations, formData);

async function createNewAdmin(event) {
  v$.value.$touch();
  const isValid = await v$.value.$validate();
  console.log(isValid);
  if (isValid) {
    const admin_details = {
      admin_username: formData.value.admin_username,
      admin_mobile_number: formData.value.admin_mobile_number,
      admin_email: formData.value.admin_email,
      admin_password: formData.value.admin_password,
    };
    authStore.signup(admin_details);
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";
$bg-image: "../asset/styles/images/bgImage";
$breakpoint: 768px;
$breakpointlogo: 1000px;

$logo-size: 10rem;
$logo-size-mobile: 5rem;
.mainBgContainer {
  display: flex;
  min-height: 100vh !important;
  min-width: 100% !important;
  background-color: $background;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @media (max-width: $breakpoint) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  background-image: url("https://i.postimg.cc/tRthBb2g/pexels-dominika-roseclay-1036808.jpg");
  background-size: cover;
}

.image {
  @include shadow(3);
  @include flex(center, center);
  @include fixed-nw($s2);
  background-color: $white;
  border-radius: $logo-size;
  width: $logo-size;
  height: $logo-size;
  padding: $s;
  margin: $s;
  border: $s50 solid $logoborder;

  img {
    margin: $s * -1;
    max-width: calc(100% + 2rem);
  }
}

@media (max-width: $breakpointlogo) {
  .image {
    display: none;
  }
}

.contentContainer {
  background-color: $white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  min-width: 37%;
  // justify-self: end !important;
  margin-left: auto;
  margin-right: 3rem;
  max-height: fit-content !important;
  margin-bottom: auto;
  margin-top: auto;
  @media (max-width: $breakpoint) {
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.heading {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}

.signUpButton {
  background-color: #f85b3a;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.signinCard {
  display: flex;
  justify-content: center;
  background-color: none !important;
  margin-top: 0.2rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0px;
  @media (max-width: $breakpoint) {
    margin-right: 0.7rem;
    margin-left: 0.7rem;
  }
  & > * {
    margin-left: 0.5rem; /* add margin between child elements */

    &:last-child {
      margin-left: 0.5rem; /* remove margin from last child element */
    }
  }
}

.error-msg {
  color: red;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2.1rem;
  margin-right: 2.1rem;

  & > * {
    margin-bottom: 1rem; /* add margin between child elements */

    &:last-child {
      margin-bottom: 0; /* remove margin from last child element */
    }
  }
  @media (max-width: 766px) {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  .button {
    flex-grow: 1;
    color: white;
    background-color: $btnfirst;
    min-width: 100%;
    min-height: 2rem;
    padding: 0.5rem;
  }
}

.show-hideConatiner {
  display: flex;

  & > * {
    /* add margin between child elements */
    margin-right: 0.5rem;
    margin-left: 0rem;
    &:last-child {
      margin-bottom: 0; /* remove margin from last child element */
      margin-right: 0.7rem;
      margin-left: 0.1rem;
    }
  }
  @media (max-width: $breakpoint) {
    margin-left: 0.7rem;
  }
}

.field {
  display: flex;

  input {
    min-width: 22rem;
  }
  & > * {
    margin-right: 0.5rem; /* add margin between child elements */

    &:last-child {
      margin-right: 0; /* remove margin from last child element */
    }
  }
  @media (max-width: $breakpoint) {
    flex-direction: column;
    & > * {
      margin-bottom: 0.4rem; /* add margin between child elements */
      margin-right: 0.7rem;
      margin-left: 0.7rem;
      &:last-child {
        margin-bottom: 0px; /* remove margin from last child element */
        margin-right: 0.7rem;
        margin-left: 0.7rem;
      }
    }
    input {
      flex-grow: 1;
      min-width: 10rem;
    }
  }
}

@media (max-width: $breakpoint) {
  .usernameConatiner {
    display: flex;
    & > * {
      margin-right: 0.7rem; /* add margin between child elements */
      margin-right: 0.7rem;
      margin-left: 0.7rem;
      &:last-child {
        /* remove margin from last child element */
        margin-right: 0.7rem;
        margin-left: 0.7rem;
      }
    }
    input {
      flex-grow: 1;
      min-width: 10rem;
    }
  }
  .buttonContainer {
    margin-right: 0.7rem;
    margin-left: 0.7rem;
  }
}

.buttonText {
  color: white;
}
</style>
