<template>
  <div class="page">
    <!-- <div
      v-if="questionStore.currentView === 'loading'"
      class="loadingContainer"
    >
      <ProgressSpinner
        style="width: 50px; height: 50px"
        strokeWidth="8"
        fill="var(--surface-ground)"
        animationDuration=".5s"
        aria-label="Custom ProgressSpinner"
      />
    </div> -->
    <div>
      <aside :class="{ open: menubarOpen }">
        <Sidebar />
      </aside>
      <main>
        <div>
          <div class="flex">
            <header><hamburger /></header>
            <div class="name-container">
              <h1 class="text-2xl heading">{{ surveyTitle }}</h1>
            </div>
          </div>
          <div v-if="!menubarOpen">
            <div class="card flex justify-content-center">
              <SelectButton
                v-model="value"
                :options="options"
                aria-labelledby="basic"
              />
            </div>
            <div>
              <div v-if="value === 'INSIGHTS'">
                <Insights :surveyId="surveyId" />
              </div>
              <div v-if="value === 'SUMMARY'" class="summary">
                <Summary :surveyId="surveyId" />
              </div>
              <div v-if="value === 'CHARTS'" class="summary">
                <Charts :surveyId="surveyId" />
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script setup>
import { onMounted, defineAsyncComponent, ref, computed } from "vue";
import { useRoute } from "vue-router";
import { useQuestionStore } from "../stores/surevyDetails";
import { useEachQuestion } from "../stores/eachQuestion";
import { useQuestionareStore } from "../stores/addQuestions.js";
import { useAppStore } from "../stores/appStore";
import { useAnalyticsStore } from "../stores/surveyAnalytics";
import SelectButton from "primevue/selectbutton";
import cookie from "store";
import Insights from "../components/analytics/Insights.vue";
import Summary from "../components/analytics/Summary.vue";
import Charts from "../components/charts/Charts.vue";
const appStore = useAppStore();
const questionActionStore = useQuestionareStore();
const editQuestion = useEachQuestion();
const questionStore = useQuestionStore();
const surveyAnalytics = useAnalyticsStore();
// get hamberg menu
const menubarOpen = computed(() => appStore.menubarOpen);
const surveyTitle = computed(() => surveyAnalytics.surveyDetails.title);
const route = useRoute();
const surveyId = route.params.id;
const value = ref("INSIGHTS");
const options = ref(["INSIGHTS", "SUMMARY", "CHARTS"]);
onMounted(async () => {
  // console.log(surveyId);
  await surveyAnalytics.getSurveyDetails(surveyId);
  cookie.set("surveyId", surveyId);
});
</script>
<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";
.page {
  overflow: hidden;
}
.mainConatiner {
  background-color: #eff5f5;
  min-height: 100vh;
}
.loadingContainer {
  main {
    overflow: hidden;
  }
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center !important;
  min-width: 80vw;
}

@media screen and (min-width: $br-tab) {
  .summary {
    max-height: 500px !important;
    overflow: auto;
    max-width: 600px;
  }
}
</style>
