<template>
  <div class="flex flex-col p-2 items-center min-h-screen">
    <div class="justify-around">
      <h1 class="text-3xl self-auto text-blue-400 font-bold">
        RIASEC Test Result
      </h1>
    </div>
    <button class="self-end mr-4" @click="generatePDF">
      <i class="pi pi-print"></i>
    </button>
    <div class="md:m-2 justify-center">
      <p class="font-sans md:text-base">
        <span class="text-gray-600 font-bold">Name:</span>
        {{ props.userDetails.username.toUpperCase() }}
      </p>
      <p class="font-sans md:text-base">
        <span class="text-gray-600 font-bold">Email: </span
        >{{ props.userDetails.email }}
      </p>
    </div>

    <div class="bg-[#F4FAF8] border rounded-md p-2">
      <h3 class="text-black font-sans md:text-2xl">
        Your Primary Code Is
        <font-awesome-icon
          icon="fa-solid fa-arrow-right"
          class="text-blue-600/25"
        />
        <span class="text-[#F30C90] font-semibold">{{ names[0] }}</span>
      </h3>
      <h4 class="text-black font-sans md:text-2xl">
        Your Secondary Code Is
        <font-awesome-icon
          icon="fa-solid fa-arrow-right"
          class="text-blue-600/25"
        />
        <span class="text-fuchsia-500 font-semibold">{{ names[1] }}</span>
      </h4>
      <h5 class="text-black font-sans md:text-2xl">
        Your Tertiary Code Is
        <font-awesome-icon
          icon="fa-solid fa-arrow-right"
          class="text-blue-600/25"
        />
        <span class="text-pink-500 font-semibold">{{ names[2] }}</span>
      </h5>
    </div>
    <SutableJobs />
  </div>
</template>

<script setup>
import { defineProps } from "vue";
import jsPDF from "jspdf";
import html2canvas from "html2canvas";
import SutableJobs from "../components/SutableJobs.vue";
import domtoimage from "dom-to-image";
const props = defineProps(["userDetails", "scoreDetails"]);

const generatePDF = async () => {
  // Get the body element
  const body = document.querySelector("body");

  // Use html2canvas to convert the body to an image
  const canvas = await html2canvas(body);

  // Get the image data as a URL
  const imageData = canvas.toDataURL("image/png");

  // Create a new jsPDF instance
  const doc = new jsPDF();

  // Add the image to the PDF document
  doc.addImage(
    imageData,
    "PNG",
    0,
    0,
    doc.internal.pageSize.width,
    doc.internal.pageSize.height
  );

  // Save the PDF document
  doc.save("example.pdf");
};
// filter top scores
const pickHighest = (obj, num = 1) => {
  const requiredObj = {};
  if (num > Object.keys(obj).length) {
    return false;
  }
  Object.keys(obj)
    .sort((a, b) => obj[b] - obj[a])
    .forEach((key, ind) => {
      if (ind < num) {
        requiredObj[key] = obj[key];
      }
    });
  return requiredObj;
};
const scoresArray = pickHighest(props.scoreDetails, 3);
// console.log(scoresArray);
// console.log(props.userDetails.email);
// console.log(props.scoreDetails);
const names = Object.keys(scoresArray);
</script>

<style scoped></style>
