<template>
  <div class="bgContainer">
    <div
      class="flex justify-center items-center min-h-screen"
      v-if="currentView === 'loading'"
    >
      <ProgressSpinner />
    </div>
    <div v-if="exam.examCompleted === false && currentView == 'success'">
      <div v-if="exam.userDetails === false" class="detailsContainer">
        <div class="titleContainer">
          <div class="image">
            <img :src="logo" alt="Survey image" />
          </div>
          <h1 class="heading">{{ surveyTitle }}</h1>
        </div>
        <pre>{{ getCurrentQuestion }}</pre>
        <div class="contentContainer">
          <form @submit.prevent="createUser" class="formContainer">
            <div class="field">
              <label for="Username" class="font-semibold text-xl">Name</label>

              <InputText
                id="Name"
                placeholder="Enter your name"
                class="input"
                v-model="userDetails.username"
              />

              <span v-if="v$.username.$error" class="text-red-600 text-md">{{
                v$.username.$errors[0].$message
              }}</span>
            </div>
            <div class="field">
              <label class="font-semibold text-xl">Email</label>
              <InputText
                type="email"
                placeholder="Enter your email address"
                v-model="userDetails.email"
                class="input"
              />
              <span v-if="v$.email.$error" class="text-red-600 text-md">{{
                v$.email.$errors[0].$message
              }}</span>
            </div>
            <button type="submit" class="submitButton">Submit</button>
          </form>
        </div>
      </div>
      <div v-if="exam.userDetails === true" class="detailsContainer">
        <div v-if="exam.userDetails">
          <ProgressBar
            :value="progressBarWidth"
            :showValue="false"
            style="height: 0.5em; color: green"
          ></ProgressBar>
        </div>
        <div class="titleContainer">
          <div class="image">
            <img :src="logo" alt="Survey image" />
          </div>
          <h1 class="heading">{{ surveyTitle }}</h1>
        </div>
        <template v-if="formType == 'Survey'">
          <div class="formContainer">
            <div class="questionCard">
              <h2 class="questionText">
                <span
                  >{{ currentQn + 1 }}.
                  <font-awesome-icon
                    icon="fa-solid fa-arrow-right"
                    class="w-3.5 text-green-700" /></span
                >{{ getCurrentQuestion.question }}
              </h2>
              <div>
                <div
                  v-if="getCurrentQuestion.question_type == 'Yes/No'"
                  class="flex flex-col"
                >
                  <button
                    @click="
                      onNextQuestion(
                        getCurrentQuestion.question_category,
                        'Yes'
                      )
                    "
                    class="optionButton yes"
                  >
                    Yes
                  </button>
                  <button
                    @click="
                      onNextQuestion(getCurrentQuestion.question_category, 'No')
                    "
                    class="optionButton no"
                  >
                    No
                  </button>
                </div>
                <div
                  v-if="getCurrentQuestion.question_type == 'Text'"
                  class="testQn"
                >
                  <InputText
                    type="text"
                    placeholder="Type your answer"
                    class="p-inputtext-sm"
                    v-model="inputAns"
                  />
                </div>
                <div
                  v-if="
                    getCurrentQuestion.question_type == 'MCQ' ||
                    'Drop-down list'
                  "
                >
                  <div
                    v-for="(option, index) in ansOptions"
                    :key="index"
                    class="flex align-items-center"
                  >
                    <div class="flex">
                      <RadioButton
                        v-model="inputAns"
                        :inputId="option"
                        :value="option"
                        class="radioGroup"
                      />
                      <label :for="option" class="ml-2 options">{{
                        option
                      }}</label>
                    </div>
                  </div>
                </div>
              </div>
              <button
                class="nextButton"
                @click="onNextQuestion"
                v-if="getCurrentQuestion.question_type != 'Yes/No'"
              >
                Next
              </button>
            </div>
          </div>
        </template>
        <template v-else>
          <h3>It's Quiz ui is under development</h3>
        </template>
      </div>
    </div>
    <div
      v-if="exam.examCompleted === true && useStore.currentView == 'success'"
    >
      <!-- <ThanksPage :userDetails="userDetails" :scoreDetails="achivedScore" /> -->
      <div class="flex min-h-screen justify-center items-center">
        <h2>Thank You</h2>
      </div>
    </div>
    <div
      v-if="useStore.currentView == 'failure'"
      class="flex justify-center items-center min-h-screen"
    >
      <h2>Something went wrong</h2>
    </div>
  </div>
</template>

<script setup>
import { ref, computed, onMounted } from "vue";
import { useRoute } from "vue-router";
import ThanksPage from "../views/ThanksPage.vue";
import { useVuelidate } from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";
import { userStore } from "../stores/userExam";
import RadioButton from "primevue/radiobutton";
import moment from "moment";
// stores
const useStore = userStore();
// computed properties
const currentView = computed(() => useStore.currentView);
const surveyTitle = computed(() => useStore.title);
const logo = computed(() => useStore.logo);
const surveyDescription = computed(() => useStore.description);
const questionsList = computed(() => useStore.questionsList);
const formType = computed(() => useStore.form_type);
const route = useRoute();
//data
const userDetails = ref({
  username: null,
  email: null,
});
const inputAns = ref(null);
let answersList = {};
const exam = ref({
  examCompleted: false,
  userDetails: false,
});

const timeToRespond = ref({
  startTime: null,
  endTime: null,
});
const currentQn = ref(0);
let ansOptions = [];
// progress bar width
const progressBarWidth = computed(() => {
  return (currentQn.value / useStore.questionsList.length) * 100;
});

// get current question
const getCurrentQuestion = computed(() => {
  let questionData = questionsList.value[currentQn.value];
  console.log(questionData);
  let optionsArray = Object.values(questionData.questions_ans);
  ansOptions = optionsArray;
  return questionData;
});
function getQuestionId() {
  return getCurrentQuestion.value.id;
}

// duratiion
function calculateDuration() {
  const startTime = timeToRespond.value.startTime;
  const endTime = timeToRespond.value.endTime;
  return moment.duration(endTime.diff(startTime));
}

function formatDuration(duration) {
  const hours = duration.hours();
  const minutes = duration.minutes();
  const seconds = duration.seconds();
  return `${hours}:${minutes}:${seconds}`;
}
//post userdata and score
async function postUserData() {
  timeToRespond.value.endTime = moment();
  const duration = calculateDuration();
  // console.log("Duration:", formatDuration(duration));
  const data = {
    username: userDetails.value.username,
    email: userDetails.value.email,
    user_ans_list: answersList,
    survey_id: route.params.id,
    duration: formatDuration(duration),
  };
  console.log(data);
  await useStore.postUserData(data);
}
//On Next Question
function onNextQuestion(category, ans) {
  const qnId = getQuestionId();
  if (currentQn.value < questionsList.length - 1) {
    if (ans != undefined) {
      answersList[qnId] = ans;
    } else {
      answersList[qnId] = inputAns.value;
    }
    currentQn.value = currentQn.value + 1;
  } else if (currentQn.value === questionsList.length - 1) {
    if (ans != undefined) {
      answersList[qnId] = ans;
    } else {
      answersList[qnId] = inputAns.value;
    }
    postUserData();
    exam.value.examCompleted = true;
  }
  inputAns.value = null;
}
// onMounted
onMounted(async () => {
  await useStore.getQuestionsList(route.params.id, route.params.uuid);
  timeToRespond.value.startTime = moment();
});

const validations = computed(() => ({
  email: { required, email },
  username: { required },
}));

// validators
const v$ = useVuelidate(validations, userDetails);
async function createUser(event) {
  v$.value.$touch();
  const isValid = await v$.value.$validate();
  if (event && isValid) {
    exam.value.userDetails = true;
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";
// @import "../assets/styles/first_task.scss";
$logo-size: 13rem;
$logo-size-mobile: 7rem;
.detailsContainer {
  .image {
    border-radius: $s;
    width: $logo-size;
    height: $logo-size;
    padding: $s;
    margin: $s;
    position: relative;
    @media (max-width: $br-tab) {
      margin: $s;
      width: $logo-size-mobile;
    }
    // border: $s_25 solid $logoborder;
  }

  .titleContainer {
    @include flex;
    .heading {
      font-size: $s200;
      position: relative;
      margin-left: $s2000;
      @media (max-width: $br-tab) {
        margin-left: 0;
      }
    }
  }

  .contentContainer {
    @include flex-fill;
    max-height: 100vh !important;
    padding-left: $s;
    padding-right: $s;
    .formContainer {
      margin-left: auto;
      margin-right: auto;
      background-color: $white;
      padding: $s;
      border-radius: $s50;
    }
  }
}
.bgContainer {
  background-color: $page-bg;
  min-height: 100vh !important;
}
.field {
  display: flex;
  flex-direction: column;

  & > * {
    margin-top: 0.5rem;
  }

  .input {
    min-height: $s2;
    border-radius: 0rem;
    @media (min-width: 768px) {
      min-width: 18rem;
    }
  }
}

.submitButton {
  flex-grow: 1;
  min-width: 100%;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: $s;
  background-color: $btnfirst;
  color: $white;
  min-height: $s2;
}

.nextButton {
  flex-grow: 1;
  min-width: 100%;
  min-height: $s2;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: $s;
  background-color: $btnfirst;
  color: $white;
}

@media screen and (max-width: $br-note) {
  .questionCard {
    background: white;
    border-radius: $s;
    min-width: 90vw;
    max-width: 400px;
    min-height: 200px;
    padding: $s;
  }

  .testQn {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: $br-tab-mini) {
  .questionCard {
    background: white;
    border-radius: $s;
    min-width: 400px;
    max-width: 600px;
    min-height: 200px;
    padding: $s;
    margin-left: auto;
    margin-right: auto;
  }

  .questionText {
    font-size: $s2;
    margin-left: $s25;
  }

  .testQn {
    display: flex;
    flex-direction: column;
  }
  .p-radiobutton-icon {
    max-height: 1rem !important;
  }
}
.radioGroup {
  margin-top: 0.3rem !important;
}
.optionButton {
  max-width: $s5;
  min-height: $s2;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: $s;
}

.yes {
  background-color: $btnfirst;
  color: $white;
}

.no {
  background-color: $endBg;
  color: $white;
}
.options {
  margin-left: 0.2rem;
  font-size: 1.3rem;
  margin-top: none;
}
</style>
