<template>
  <div class="verify-email">
    <div class="message">
      <div class="logo">
        <img
          src="https://static.wixstatic.com/media/d80ab0_46ac7b8a1ac04f4abceffaf30f9b4dcf~mv2.png/v1/fill/w_100,h_100,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo.png"
          alt="Turiyatree"
        />
      </div>
      <h3>Welcome {{ username }}</h3>
      <h1>Verify Your Email</h1>
      <p>We have sent a link to your email {{ email }}</p>
      <p>Please click on the link to verify it is you</p>
      <br />
      <p><small>Can't see it? Check your junk or spam folder!</small></p>
    </div>
    <div class="back">
      <router-link to="/">
        <button class="button">Sign In</button>
      </router-link>
    </div>
  </div>
</template>

<script setup>
import { ref, computed, onMounted, reactive } from "vue";
import { useAuthStore } from "../stores/auth";
const authStore = useAuthStore();

const email = computed(() => authStore.adminEmail);
const username = computed(() => authStore.adminUsername);
</script>

<style lang="scss" scoped>
@import "@/assets/styles/config.scss";
@import "@/assets/styles/mixins.scss";

.verify-email {
  text-align: center;
  padding-top: 5rem;

  .logo {
    @include flex($h: center);
    height: 7rem;
    margin: $s;

    img {
      width: auto;
      height: 100%;
    }
  }

  h1 {
    text-transform: none;
    font-size: 2rem;
  }

  .back {
    margin-top: $s2;
  }

  .button {
    color: white;
    background-color: $btnfirst;
    min-height: 2rem;
    padding: 0.5rem;
  }
}
</style>
