<template>
  <div class="add-survey">
    <div v-if="!showLogo || props.logo == null">
      <FileUpload
        name="demo[]"
        url="./upload.php"
        @upload="onTemplatedUpload($event)"
        accept="image/*"
        :maxFileSize="1000000"
        @select="onSelectedFiles"
      >
        <template
          #header="{
            chooseCallback,
            uploadCallback,
            clearCallback,
            files,
            onRemoveTemplatingFile,
            removeFileCallback,
          }"
        >
          <div
            class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2"
          >
            <div class="flex gap-2">
              <Button
                @click="chooseCallback()"
                icon="pi pi-images"
                rounded
                outlined
                :disabled="files.length > 0"
              ></Button>
              <!-- <Button
                @click="uploadEvent(uploadCallback)"
                icon="pi pi-cloud-upload"
                rounded
                outlined
                severity="success"
                :disabled="!files || files.length === 0"
                @click="clearCallback()"
              ></Button> -->
              <!-- <Button
                @click="clearCallback()"
                icon="pi pi-times"
                rounded
                outlined
                severity="danger"
                :disabled="!files || files.length === 0"
              ></Button> -->
            </div>
          </div>
        </template>
        <template
          #content="{
            files,
            uploadedFiles,
            removeUploadedFileCallback,
            removeFileCallback,
          }"
        >
          <div v-if="files.length > 0">
            <div class="flex flex-wrap p-0 sm:p-1">
              <div
                v-for="(file, index) of files"
                :key="file.name + file.type + file.size"
                class="card m-0 flex flex-column border-1 surface-border align-items-center"
              >
                <div>
                  <img
                    role="presentation"
                    :alt="file.name"
                    :src="file.objectURL"
                    width="100"
                    height="5"
                    class="shadow-2"
                  />
                </div>
                <!-- <span class="font-semibold">{{ file.name }}</span>
                <div>{{ formatSize(file.size) }}</div>
                <Badge value="Pending" severity="warning" /> -->
                <Button
                  icon="pi pi-times"
                  class="ml-2"
                  @click="
                    onRemoveTemplatingFile(file, removeFileCallback, index)
                  "
                  outlined
                  rounded
                  severity="danger"
                />
              </div>
            </div>
          </div>
        </template>
      </FileUpload>
    </div>
    <div v-if="props.logo && showLogo" class="logoContainer">
      <div
        class="closeIcon"
        v-tooltip.top="'Remove logo'"
        @click="deleteLogo()"
      >
        <i class="pi pi-times" style="color: red"></i>
      </div>
      <img :src="props.logo" alt="logo of survey" class="logo" />
    </div>
    <InputText
      type="text"
      placeholder="Enter title"
      class="w-full border rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      v-model="surveyDetails.survey_title"
    />
    <Textarea
      id="textarea"
      v-model="surveyDetails.survey_description"
      :autoResize="true"
      :maxlength="500"
      rows="5"
      cols="23"
      class="text-area"
      placeholder="Type description (Optional)"
      @input="updateCount"
    />
    <span class="desCount">{{ count.descriptionLength }}/500</span>
    <p v-if="error" class="error">{{ error }}</p>
    <button @click="updateSurvey" class="addBtn">
      {{ workSpaceAction === "edit" ? "Update" : "Add" }}
    </button>
  </div>
</template>

<script setup>
import {
  ref,
  onMounted,
  inject,
  defineProps,
  defineEmits,
  computed,
} from "vue";
import { useDialog } from "primevue/usedialog";
import Avatar from "primevue/avatar";
import Dropdown from "primevue/dropdown";
import AvatarGroup from "primevue/avatargroup"; //Optional for grouping
import { useHomeStore } from "@/stores/adminHome";
import FileUpload from "primevue/fileupload";
import cookie from "store";
const props = defineProps({
  surveyId: {
    type: Number,
    default: 1,
  },
  title: {
    type: String || null,
    default: null,
  },
  description: {
    type: String || null,
    default: "",
  },
  logo: {
    type: String || null,
    default: null,
  },
});

const emits = defineEmits(["updated"]);
// stores
const homeStore = useHomeStore();
// computed properties
const newQuestionareError = computed(() => homeStore.newQuestionareError);
const showLogo = computed(() => homeStore.logoDetails.showlogo);
const error = computed(() => homeStore.questionareError);
const workSpaceAction = computed(() => homeStore.newWorkSpace.action);
const workSpaceType = computed(() => homeStore.newWorkSpace.type);
// data

const admin_id = cookie.get("adminId");
const surveyDetails =
  workSpaceAction.value === "new"
    ? ref({
        survey_title: null,
        survey_description: "",
      })
    : ref({
        survey_title: props.title ? props.title : null,
        survey_description: props.description,
      });
const totalSize = ref(0);
const totalSizePercent = ref(0);
const files = ref([]);
const onRemoveTemplatingFile = (file, removeFileCallback, index) => {
  removeFileCallback(index);
  totalSize.value -= parseInt(formatSize(file.size));
  totalSizePercent.value = totalSize.value / 10;
};
const onClearTemplatingUpload = (clear) => {
  clear();
  totalSize.value = 0;
  totalSizePercent.value = 0;
};

const onSelectedFiles = (event) => {
  files.value = event.files;
  files.value.forEach((file) => {
    totalSize.value += parseInt(formatSize(file.size));
  });
};
const uploadEvent = (callback) => {
  totalSizePercent.value = totalSize.value / 10;
  callback();
};
const formatSize = (bytes) => {
  if (bytes === 0) return "0 B";
  const k = 1024;
  const sizes = ["B", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"];
  const i = Math.floor(Math.log(bytes) / Math.log(k));
  return parseFloat((bytes / Math.pow(k, i)).toFixed(2)) + " " + sizes[i];
};
const count = ref({
  descriptionLength: surveyDetails.value.survey_description
    ? surveyDetails.value.survey_description.length
    : 0,
});

//get length of description
function updateCount() {
  count.value.descriptionLength = surveyDetails.value.survey_description.length;
}
async function deleteLogo() {
  await homeStore.deleteLogoSurveyById(props.surveyId);
}
async function updateSurvey() {
  const formData = new FormData();
  formData.append("admin_id", admin_id);
  formData.append("survey_title", surveyDetails.value.survey_title);
  if (surveyDetails.value.survey_description) {
    formData.append(
      "survey_description",
      surveyDetails.value.survey_description
    );
  }
  if (workSpaceAction.value === "new") {
    formData.append("form_type", workSpaceType.value);
    if (files.value.length > 0) {
      files.value.forEach((file) => {
        formData.append("file", file);
      });
    }
    await homeStore.addNewSurvey(formData);
    surveyDetails.value.survey_title = null;
    surveyDetails.value.survey_description = null;
  } else {
    if (files.value.length > 0) {
      files.value.forEach((file) => {
        formData.append("file", file);
      });
    }
    await homeStore.updateSurveyDetails(formData, props.surveyId);
  }
  // await homeStore.updateSurveyDetails(
  //   surveyDetails.value,
  //   props.surveyId,
  //   admin_id
  // );
  // emits("updated", surveyDetails.value);
}

onMounted(() => {});
</script>

<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
.add-survey {
  display: flex;
  flex-direction: column;
}
.input-text {
  margin: 5px;
}
.text-area {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}
.desCount {
  text-align: end;
}
.addBtn {
  background-color: $btnfirst !important;
  color: $btnfirstfg;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  min-height: 2rem;
  cursor: pointer;
  padding: 0.3rem;
}

.add-survey {
  .typeContainer {
    margin-top: $s_25;
    margin-bottom: $s150;
  }
  > * {
    margin-bottom: $s_25; // Add margin between child elements
  }

  > *:first-child {
    margin-bottom: $s;
    // margin-right: 0; // Remove margin from the last child element
  }
  > *:last-child {
    margin-bottom: 0; // Remove margin from the last child element
  }
}

.logoContainer {
  @include flex-v;
  .closeIcon {
    margin-left: $s900;
    margin-bottom: $s_25;
    cursor: pointer;
  }
  .logo {
    max-height: 60px;
  }
}
</style>
