<template>
  <div class="my-progress-bar">
    <template v-if="props.formType === 'Quiz' && props.correct">
      <ProgressBar
        :value="props.value"
        :show-value="false"
        style="height: 6px"
        :pt="{
          value: { style: { background: 'green' } },
        }"
      />
    </template>
    <template v-else>
      <ProgressBar
        :value="props.value"
        :show-value="false"
        style="height: 6px"
        :pt="{
          value: { style: { background: 'black' } },
        }"
      />
    </template>
  </div>
</template>
<script setup>
const props = defineProps({
  data: {
    type: Object,
    default: null,
  },
  value: {
    type: Number || String,
    default: 50,
  },
  formType: {
    type: String,
    default: "Survey",
  },
  correct: {
    type: Boolean,
    default: false,
  },
});
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
</style>
