<template>
  <div>
    <div class="cardsConatainer">
      <div
        v-for="questionAnalytics in surveyAnalytics"
        :key="questionAnalytics.questionId"
        class="survey-card"
      >
        <div class="eachCard">
          <h3>
            {{ questionAnalytics.questionText }}
          </h3>
          <div
            v-for="(count, option) in questionAnalytics.responseCounts"
            :key="option"
            v-if="
              questionAnalytics.questionType === 'MCQ' ||
              questionAnalytics.questionType === 'Yes/No'
            "
            :class="{
              correctAnsContainer:
                formType === 'Quiz'
                  ? questionAnalytics.correctAns === option
                  : null,
            }"
          >
            <div class="detailsContainer">
              <p
                :class="{
                  correctAns:
                    formType === 'Quiz'
                      ? questionAnalytics.correctAns === option
                      : null,
                }"
              >
                {{ option }}
              </p>
              <p>
                <span class="count">{{ count }} resp.</span>
                {{
                  calculatePercentage(count, questionAnalytics.totalResponses)
                }}%
              </p>
            </div>
            <!-- <Progress /> -->
            <div class="my-progress-bar">
              <Progress
                :value="
                  calculatePercentage(count, questionAnalytics.totalResponses)
                "
                :formType="formType"
                :correct="questionAnalytics.correctAns === option"
              />
            </div>
          </div>
          <div v-if="questionAnalytics.questionType === 'rating'">
            <p>
              Avg rating
              {{
                calculateAverageRating(questionAnalytics.questionId, surveyData)
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, ref, onMounted, reactive, watch } from "vue";
import Progress from "./Progress.vue";
import { useResponsesStore } from "@/stores/responses";
import { useAnalyticsStore } from "@/stores/surveyAnalytics";
import moment from "moment";
import ProgressBar from "primevue/progressbar";
import _ from "lodash";
// stores
const responseStore = useResponsesStore();
const analyticsStore = useAnalyticsStore();
const props = defineProps({
  surveyId: {
    type: Number,
    default: null,
  },
});
// computed properties
const headerList = computed(() => responseStore.headerList);
const responsesCount = computed(
  () => analyticsStore.surveyDetails.responsesCount
);
const formType = computed(() => analyticsStore.form_type);
const noViews = computed(() => analyticsStore.surveyDetails.views);
const publishedDate = computed(
  () => analyticsStore.surveyDetails.pusblishedDate
);
const surveyData = computed(() => analyticsStore.responsesList);
const questionsData = computed(() => analyticsStore.questionsList);
// analytics
const surveyAnalytics = computed(() => {
  const analytics = [];
  // Iterate over each question
  for (const question of questionsData.value) {
    const questionId = question.id;
    const questionText = question.question;
    const responseCounts = {};
    const questionType = question.question_type;
    const correctAns = question.correct_ans;
    // Initialize response counts for each option
    for (const option of _.values(question.questions_ans)) {
      responseCounts[option] = 0;
    }
    // Calculate response counts for the question
    for (const response of surveyData.value) {
      const responseOption = response[questionId.toString()];
      responseCounts[responseOption]++;
    }

    analytics.push({
      questionId,
      questionText,
      responseCounts,
      questionType,
      correctAns,
    });
  }
  return analytics;
});
// Calculate percentage
const calculatePercentage = (count) => {
  const totalCount = surveyData.value.length;
  return parseInt(((count / totalCount) * 100).toFixed(1));
};
// caliculate avg rating
function calculateAverageRating(questionId, data) {
  console.log(data);
  const responses = _.filter(data, { questionId });
  if (_.isEmpty(responses)) {
    console.log(`No responses found for question ID: ${questionId}`);
    return null;
  }

  const ratings = _.map(responses, "rating");
  const totalRating = _.sum(ratings);
  const count = ratings.length;
  const averageRating = totalRating / count;
  return averageRating;
}

onMounted(async () => {
  await analyticsStore.getSurveyDetails(props.surveyId);
  await analyticsStore.getPublishDate(props.surveyId);
  await analyticsStore.getResponsesBySurveyId(props.surveyId);
  await analyticsStore.getQuestionsList(props.surveyId);
});
</script>

<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";

.heading {
  font-size: $s150 !important;
  font-weight: 250 !important;
  color: #262627 !important;
  position: sticky;
}

.eachCard {
  padding: $s150;
  @include shadow($level: 2);
  border-radius: $s_25;
  margin: $s_50;
  .detailsContainer {
    @include flex-fill;
    .count {
      color: $tab-color;
    }
  }
}

.cardsContainer {
  overflow: auto !important;
  > * {
    margin-bottom: $s250; // Add margin between child elements
  }
}

.correctAnsContainer {
  background-color: #b3e5be;
}
.correctAns {
  color: green;
  font-weight: bold;
  font-size: $s;
}
</style>
