<template>
  <div class="max-w-lg mx-auto my-8 p-5 rounded-md shadow-slate-300 bg-white">
    <form class="space-y-4" @submit.prevent="submitForm">
      <div>
        <label class="block text-black font-semibold mb-2" for="title"
          >Question title:</label
        >
        <InputText
          class="w-full border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          v-model="title"
          id="title"
          placeholder="Enter question here"
        />
      </div>
      <div>
        <label class="block text-black font-semibold mb-2" for="type"
          >Type:</label
        >
        <Dropdown
          v-model="type"
          :options="questionTypes"
          optionLabel="name"
          :editable="true"
        />
      </div>
      <div v-if="type.name == 'MCQ' || type.name === 'Dropdown'">
        <label class="block text-gray-700 font-bold mb-2">Options:</label>
        <div class="space-y-2">
          <div v-for="(option, index) in options" :key="index" class="flex">
            <input
              class="w-40 border rounded-l py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              v-model="options[index]"
            />
            <button
              type="button"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-r"
              @click="removeOption(index)"
            >
              X
            </button>
          </div>
          <button
            type="button"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            @click="addOption"
          >
            Add Option
          </button>
          <div>
            <label for="ans" class="m-3 text-green-600">Correct answer</label>
            <font-awesome-icon
              icon="fa-solid fa-arrow-right"
              class="mt-2 ml-2 mr-2"
            />
            <InputText type="ans" v-model="correctAnswer" />
          </div>
        </div>
      </div>
      <button type="submit" class="addBtn">Add Question</button>
    </form>
  </div>
</template>

<script setup>
import { ref, onMounted, inject } from "vue";
import cookie from "store";
import { useQuestionareStore } from "../stores/addQuestions.js";
import { useQuestionStore } from "../stores/surevyDetails";
import { useHomeStore } from "../stores/adminHome.js";

const questionareData = useQuestionareStore();
const adminData = useHomeStore();
const questionsInSurvey = useQuestionStore();
const title = ref("");
const type = ref("Yes/No");
const options = ref(["", ""]);
const correctAnswer = ref("");

const questionTypes = ref([
  { name: "MCQ", code: "MCQ" },
  { name: "Short Text", code: "Text" },
  { name: "Yes/No", code: "Yes/No" },
  { name: "Dropdown", code: "Dd" },
]);

// mcq options
function addOption() {
  options.value.push("");
}

function removeOption(index) {
  options.value.splice(index, 1);
}

// add new question
async function submitForm() {
  const question = {
    question: title.value,
    question_type: type.value.code === undefined ? "Yes/No" : type.value.code,
    questions_ans: Object.values(options.value),
    correct_ans: correctAnswer.value,
    survey_id: cookie.get("surveyId"),
  };

  if (type.value == "MCQ") {
    question.options = options.value.filter((o) => o !== "");
  }

  // or send to server using axios or fetch
  if (title.value != "" && type.value.code != "") {
    console.log(type.value.code);
    await questionareData.postQuestion(question, cookie.get("surveyId"));
    await questionsInSurvey.getQuestionsList();
  }

  title.value = null;
  options.value = ["", ""];
  correctAnswer.value = "";
  type.value = "Yes/No";
}
</script>

<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";
$breakpoint: 768px;
.p-button-success {
  flex-grow: 1;
  min-width: 100%;
}

.addBtn {
  background-color: $btnfirst !important;
  color: $btnfirstfg;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  min-height: 2rem;
  min-width: 99%;
  cursor: pointer;
  padding: 0.3rem;
  flex-grow: 1;
}
</style>
