<template>
  <header class="bg-gray-400 shadow h-14 flex justify-around">
    <router-link
      to="/admin"
      class="inline-flex items-center text-white h-full px-10 font-bold hover:text-green-600"
    >
      HOME</router-link
    >
    <div class="p-2">
      <button
        type="button"
        @click="onLogout"
        class="text-xl text-white bg-yellow-600 rounded p-2 hover:bg-red-500"
      >
        Logout
      </button>
    </div>
  </header>
</template>

<script setup>
import { RouterLink } from "vue-router";
import cookie from "store";
import { useRouter } from "vue-router";
const route = useRouter();
// on click logut button
function onLogout() {
  console.log("logout");
  cookie.remove("adminId");
  cookie.remove("bearer");
  cookie.remove("surveyId");
  route.push("/login");
}

const items = [
  { label: "Home", icon: "pi pi-fw pi-home", to: "/admin" },
  { label: "LogOut", icon: "pi-unlock" },
];
</script>

<style lang="sass" scoped></style>
