<template>
  <div>
    <form class="formContainer" @submit.prevent="submitForm">
      <!-- <pre>{{ workSpaceType }}</pre>
      <pre>{{ questionData.correct_ans }} 'ok'</pre>
      <pre
        >{{ props.correctAnsKey }} {{ questionAction.value }} {{ formType }} {{
          props.correctAnswer
        }}</pre 
      > -->
      <div>
        <label class="block text-black font-semibold mb-2" for="title"
          >Question:</label
        >
        <InputText
          class="w-full border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          v-model="questionData.question"
          id="title"
          placeholder="Enter question here"
        />
      </div>
      <div>
        <label class="block text-black font-semibold mb-2" for="description"
          >Description:</label
        >
        <InputText
          class="w-full border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          v-model="questionData.description"
          id="description"
          placeholder="Type description(optional)"
        />
      </div>
      <div>
        <label class="block text-black font-semibold mb-2" for="type"
          >Type:</label
        >
        <Dropdown
          v-model="questionData.question_type"
          :options="questionTypes"
          optionLabel="name"
          optionValue="code"
          :editable="true"
          @onChange="handleChange"
        />
      </div>

      <div
        v-if="
          questionData.question_type == 'MCQ' ||
          questionData.question_type === 'Drop-down list' ||
          questionData.question_type.code === 'MCQ'
        "
      >
        <label class="block text-gray-700 font-bold mb-2">Options:</label>

        <div class="space-y-2">
          <div v-for="(option, index) in options" :key="index" class="flex">
            <input
              class="w-40 border rounded-l py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              v-model="options[index]"
            />
            <button
              type="button"
              class="bg-red-200 hover:bg-red-500 text-white font-bold py-2 px-4 rounded-r h-9"
              @click="removeOption(index)"
            >
              X
            </button>
          </div>
          <button
            type="button"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            @click="addOption"
          >
            Add Option
          </button>
          <pre>{{ props.correctAnswer }}</pre>
          <div v-if="workSpaceType === 'Quiz' || formType === 'Quiz'">
            <label for="ans" class="m-3 text-green-600">Correct answer</label>
            <font-awesome-icon
              icon="fa-solid fa-arrow-right"
              class="mt-2 ml-2 mr-2"
            />
            <InputText type="ans" v-model="questionData.correct_ans" />
          </div>
        </div>
      </div>
      <button class="addBtn" type="submit">
        {{ questionAction === "edit" ? "Update" : "Add" }}
      </button>
    </form>
  </div>
</template>

<script setup>
import { ref, onMounted, inject, defineProps, computed } from "vue";
import cookie from "store";
import _ from "lodash";
import { useDialog } from "primevue/usedialog";
import { useQuestionareStore } from "../stores/addQuestions.js";
import { useQuestionStore } from "../stores/surevyDetails";
import { useHomeStore } from "../stores/adminHome.js";
import { useEachQuestion } from "../stores/eachQuestion";

// store details
const editQuestion = useEachQuestion();
const questionStore = useQuestionareStore();
const adminData = useHomeStore();
const questionsInSurvey = useQuestionStore();
// computed properties
const questionAction = computed(() => questionStore.questionAction);
const workSpaceType = computed(() => questionStore.workSpace.type);
const formType = computed(() => questionsInSurvey.form_type);
const qnOrder = computed(() => questionsInSurvey.questionsList.length);
const props = defineProps({
  id: {
    type: Number,
    default: 1,
  },
  title: {
    type: String || null,
    default: null,
  },
  description: {
    type: String || null,
    default: null,
  },
  questionType: {
    type: String,
    default: "Text",
  },
  answers: {
    type: Object,
    default: () => {},
  },
  correctAnswer: {
    type: String || null,
    default: null,
  },
  correctAnsKey: {
    type: String || null,
    default: null,
  },
});
const questionData =
  questionAction.value == "edit"
    ? ref({
        question: props.title,
        description: props.description,
        question_type:
          props.questionType === "MCQ" ? "MCQ" : props.questionType,
        questions_ans: modifyAnswerstoArray(),
        correct_ans: formType.value == "Quiz" ? props.correctAnswer : null,
        correct_ans_key: formType.value == "Quiz" ? props.correctAnsKey : null,
        survey_id: cookie.get("surveyId"),
        id: props.id,
      })
    : ref({
        question: null,
        description: null,
        question_type: "Text",
        questions_ans: modifyAnswerstoArray(),
        correct_ans: formType.value === "Quiz" ? props.correctAnswer : null,
        correct_ans_key: formType.value === "Quiz" ? props.correctAnsKey : null,
        survey_id: cookie.get("surveyId"),
      });

function modifyAnswerstoArray() {
  if (props.questionType === "MCQ" || props.questionType === "Drop-down list") {
    return _.values(props.answers);
  } else {
    return ["", ""];
  }
}

function handleChange(event, option) {
  console.log("Selected option:", option);
}
const options = ref(getOptionsArrayFromProps());
function getOptionsArrayFromProps() {
  if (props.questionType == "MCQ") {
    return modifyAnswerstoArray();
  } else {
    return ["", ""];
  }
}

const questionTypes = ref([
  { name: "Short Text", code: "Text" },
  { name: "Yes/No", code: "Yes/No" },
  { name: "Drop-down list", code: "MCQ" },
]);

// mcq options
function addOption() {
  options.value.push("");
}

function removeOption(index) {
  options.value.splice(index, 1);
}
// get question type
function getQuestionType() {
  if (typeof questionData.value.question_type === typeof "11") {
    return questionData.value.question_type;
  } else {
    return questionData.value.question_type.code;
  }
}
// get correct answer
function getCorrectAnswer() {
  if (typeof questionData.value.correct_ans === typeof "11") {
    return questionData.value.correct_ans;
  } else {
    return null;
  }
}

function getCorrectAnswerKey() {
  if (questionData.value.question_type === "Yes/No") {
    if (questionData.value.correct_ans === "Yes") {
      return "a";
    } else {
      return "b";
    }
  } else if (questionData.value.question_type === "MCQ") {
    return getKeyByValueIgnoreCase(options.value, props.correct_ans);
  }
}
function getKeyByValueIgnoreCase(obj, value) {
  const key = _.findKey(obj, (v) => _.toLower(v) === _.toLower(value));
  return key !== undefined ? key : null;
}
// get possible answers in dict format
function getPossibleAnswers() {
  if (
    questionData.value.question_type === "MCQ" ||
    questionData.value.question_type === "Drop-down list"
  ) {
    const transformedObj = _.mapKeys(options.value, (value, key) =>
      String.fromCharCode(65 + parseInt(key))
    );
    return transformedObj;
  } else {
    return null;
  }
}
// add or update question
async function submitForm() {
  const question = {
    question: questionData.value.question,
    question_type: getQuestionType(),
    questions_ans: getPossibleAnswers(),
    correct_ans: getCorrectAnswer(),
    correct_ans_key: getCorrectAnswerKey(),
    description: questionData.value.description,
    survey_id: questionData.value.survey_id,
  };
  console.log(question);
  if (questionAction.value == "edit") {
    await editQuestion.updateQuestionCategory(questionData.value.id, question);
  } else {
    await questionStore.postQuestion(
      { ...question, order: qnOrder.value + 1 },
      question.survey_id
    );
  }
  await questionsInSurvey.getQuestionsList(questionData.value.survey_id);
}

onMounted(() => {});
</script>

<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";
$breakpoint: 768px;

.formContainer {
  & > * {
    /* add margin between child elements */
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    margin-bottom: 0.7rem;
    &:last-child {
      margin-bottom: 0; /* remove margin from last child element */
      margin-right: 0.7rem;
      margin-left: 0.7rem;
    }
  }
  overflow: auto;
}

.addBtn {
  background-color: $btnfirst !important;
  color: $btnfirstfg;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  min-height: 2rem;
  min-width: 96%;
  cursor: pointer;
  padding: 0.3rem;
  flex-grow: 1;
}
</style>
