<template>
  <div class="headingContainer">
    <h3 class="responses">
      You received
      <span>{{ rows.length }} responses</span>
    </h3>
    <div class="iconsContainer">
      <div class="icon" v-tooltip.top="'Show Analytics'">
        <router-link
          :to="{ name: 'surveyAnalytics', params: { id: props.surveyId } }"
        >
          <font-awesome-icon icon="fa-solid fa-chart-simple" />
        </router-link>
      </div>
      <div class="icon" v-tooltip.top="'Download to excel'">
        <span>
          <font-awesome-icon
            icon="fa-solid fa-download"
            size="lg"
            @click="exportCSV($event)"
          />
        </span>
      </div>
    </div>
  </div>
  <template v-if="formType != 'Quiz'">
    <DataTable
      :value="rows"
      ref="dt"
      paginator
      rows="6"
      scrollable
      showGridlines
      scrollHeight="350px"
      tableStyle="max-width: 10rem"
      zableColumns
      columnResizeMode="expand"
    >
      <Column
        v-for="column of headerList"
        :key="column.id"
        :field="column.id.toString()"
        :header="column.question"
      ></Column>
    </DataTable>
  </template>
  <template v-else>
    <h2>Quiz</h2>
  </template>
</template>
<script setup>
import { defineProps, ref, computed } from "vue";
import _ from "lodash";
import { useResponsesStore } from "../stores/responses";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import ColumnGroup from "primevue/columngroup"; // optional
import Row from "primevue/row"; // optional
import cookie from "store";
const props = defineProps({
  surveyId: {
    type: Number,
    default: parseInt(cookie.get("surveyId")),
  },
});
//stores
const responseStore = useResponsesStore();
// computed properties
const headerList = computed(() => responseStore.headerList);
const rows = computed(() => responseStore.responsesList);
const formType = computed(() => responseStore.formType);
const dt = ref();
const exportCSV = () => {
  dt.value.exportCSV();
};

function getColumnStyle(columnId) {
  const columnData = this.rows.map((row) => row[columnId]);
  const longestValue = columnData.reduce((longest, value) => {
    return value && value.length > longest.length ? value : longest;
  }, "");
  const width = longestValue ? longestValue.length * 10 + "px" : "auto";
  return `width: ${width};`;
}
</script>
<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";
.headingContainer {
  @include flex-distribute;
  .responses {
    align-self: flex-start !important;
    margin-top: $s;
    .count {
      font-weight: 600;
      font-size: $s2;
    }
  }
}
button {
  background-color: $btnfirst;
  margin-top: 1rem;
  padding: 0.5rem;
  color: $white;
}

.iconsContainer {
  display: flex;
}
.icon {
  margin-left: $s;
  margin-top: $s_50;
  cursor: pointer;
}
</style>
