<template>
  <aside :class="`${isExpanded}`">
    <div class="image">
      <img
        src="https://static.wixstatic.com/media/d80ab0_46ac7b8a1ac04f4abceffaf30f9b4dcf~mv2.png/v1/fill/w_100,h_100,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo.png"
        alt="turiyatree logo"
      />
    </div>
    <div class="menu">
      <router-link to="/admin" class="button" @click="close">
        <span class="material-icons"
          ><font-awesome-icon icon="fa-solid fa-house"
        /></span>
        <span class="text">HOME</span>
      </router-link>
      <router-link class="button" to="/admin/responses" @click="close">
        <span class="material-icons"
          ><font-awesome-icon icon="fa-regular fa-envelope" />
        </span>
        <span class="text">Responses</span>
      </router-link>
      <router-link class="button" to="/" @click="onLogout">
        <span class="material-icons"
          ><font-awesome-icon icon="fa-solid fa-right-from-bracket" />
        </span>
        <span class="text">LOGOUT</span>
      </router-link>
    </div>
  </aside>
</template>

<script setup>
import { ref } from "vue";
import { useAppStore } from "../stores/appStore";
import { RouterLink } from "vue-router";
import { useRouter } from "vue-router";
const route = useRouter();
import cookie from "store";
import { useAuthStore } from "../stores/auth.js";

const authStore = useAuthStore();
// on click logut button
async function onLogout() {
  await authStore.logout();
  cookie.remove("adminId");
  cookie.remove("bearer");
  cookie.remove("surveyId");
  route.push("/");
}

const isExpanded = ref(true);
const appStore = useAppStore();
//close sidebar
function close() {
  appStore.closeMenubar();
}
</script>

<style lang="scss" scoped>
@import "../assets/styles/config.scss";
@import "../assets/styles/mixins.scss";
@import "../assets/styles/first_task.scss";

$logo-size: 10rem;
$logo-size-mobile: 5rem;

.image {
  // @include shadow(3);
  // @include flex(center, center);
  // @include fixed-nw($s2);
  background-color: $white;
  border-radius: $logo-size;
  width: $logo-size;
  height: $logo-size;
  padding: $s;
  margin: $s;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $br-tab) {
    margin: $s;
  }
  border: $s50 solid $logoborder;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: $sidebarBg;
  width: calc(2rem + 32px);
  overflow: hidden;
  min-height: 100vh;
  position: fixed;
  padding: 1rem;
  transition: 0.2s ease-in-out;
  // z-index: 1000;

  @media (max-width: 768px) {
    display: block;
    min-height: 100vh;
    min-width: 768px;
  }
  .flex {
    flex: 1 1 0%;
  }
  .button .text {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  h3 {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  .menu {
    margin: 0 -1rem;
    .button {
      display: flex;
      align-items: center;
      flex-grow: 1;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      padding: 0.5rem 1rem;
      .material-icons {
        font-size: 1.2rem;
        min-width: 1.2rem;
        transition: 0.2s ease-in-out;
        color: $white;
      }
      .text {
        transition: 0.2s ease-in-out;
        font-size: 1.1rem !important;
        flex-grow: 1;
        color: $white;
      }
    }
  }
  h3,
  .button .text {
    opacity: 1;
    min-height: 20px;
    min-width: 30px;
    text-transform: uppercase;
  }
  .button {
    .material-icons {
      margin-right: 1rem;
      min-width: 1.2rem;
    }
  }
}

// .image {
//   @include shadow(3);
//   @include flex(center, center);
//   @include fixed-nw($s2);
//   background-color: $white;
//   border-radius: $logo-size;
//   width: $logo-size;
//   height: $logo-size;
//   padding: $s;
//   margin: $s;
//   border: $s50 solid $logoborder;

//   img {
//     margin: $s * -1;
//     max-width: calc(100% + 2rem);
//   }
// }

.menu {
  margin-left: 0.2rem !important;
  padding-left: 0rem;
}
.router-link-exact-active {
  background: $background !important;
  border-radius: 5px 0 0 5px;
  .text,
  .material-icons {
    color: $sidebarBg !important;
  }
}
</style>
