<template>
  <div class="flex flex-col justify-center">
    <h1 class="font-bold text-4xl text-green-500 mt-3 m-auto">
      Career Pathways
    </h1>
    <div class="grid md:grid-cols-3 m-3 space-x-0.5 space-y-0.5">
      <div
        class="flex flex-col p-3 bg-gray-800 border-2 border-l-zinc-100 rounded-xl"
      >
        <h1 class="font-bold text-xl m-auto text-white underline">Realistic</h1>
        <ol>
          <li class="text-white">Natural Resources</li>
          <li class="text-white">Health Services</li>
          <li class="text-white">Industrial and Engineering</li>
          <li class="text-white">Technology</li>
          <li class="text-white">Arts and Communication</li>
        </ol>
      </div>
      <div
        class="flex flex-col p-3 bg-gray-800 border-2 border-l-zinc-100 rounded-xl"
      >
        <h1 class="font-bold text-xl mx-auto text-white underline">Social</h1>
        <ol>
          <li class="text-white">Health Services</li>
          <li class="text-white">Public and Human Services</li>
        </ol>
      </div>
      <div
        class="flex flex-col p-3 bg-gray-800 border-2 border-l-zinc-100 rounded-xl"
      >
        <h1 class="font-bold text-xl mx-auto text-white underline">
          Investigative
        </h1>
        <ol>
          <li class="text-white">Health Services</li>
          <li class="text-white">Business</li>
          <li class="text-white">Public and Human Services</li>
          <li class="text-white">Industrial and Engineering Technology</li>
        </ol>
      </div>
      <div
        class="flex flex-col p-3 bg-gray-800 border-2 border-l-zinc-100 rounded-xl"
      >
        <h1 class="font-bold text-xl mx-auto text-white underline">
          Enterprising
        </h1>
        <ol>
          <li class="text-white">Business</li>
          <li class="text-white">Public and human services</li>
          <li class="text-white">Arts and Communication</li>
        </ol>
      </div>
      <div
        class="flex flex-col p-3 bg-gray-800 border-2 border-l-zinc-100 rounded-xl"
      >
        <h1 class="font-bold text-xl mx-auto text-white underline">Artistic</h1>
        <ol>
          <li class="text-white">Public and Human Services</li>
          <li class="text-white">Arts and Communication</li>
        </ol>
      </div>
      <div
        class="flex flex-col p-3 bg-gray-800 border-2 border-l-zinc-100 rounded-xl"
      >
        <h1 class="font-bold text-xl mx-auto text-white underline">
          Conventional
        </h1>
        <ol>
          <li class="text-white">Health services</li>
          <li class="text-white">Business</li>
          <li class="text-white">Industrial and engineering technology</li>
        </ol>
      </div>
    </div>
  </div>
</template>

<script setup>
import jsPDF from "jspdf";
import html2canvas from "html2canvas";

const generatePDF = async () => {
  // Get the body element
  const body = document.querySelector("body");

  // Use html2canvas to convert the body to an image
  const canvas = await html2canvas(body);

  // Get the image data as a URL
  const imageData = canvas.toDataURL("image/png");

  // Create a new jsPDF instance
  const doc = new jsPDF();

  // Add the image to the PDF document
  doc.addImage(
    imageData,
    "PNG",
    0,
    0,
    doc.internal.pageSize.width,
    doc.internal.pageSize.height
  );

  // Save the PDF document
  doc.save("example.pdf");
};
</script>

<style scoped></style>
