<template>
  <div class="flex flex-col p-2 items-center min-h-screen">
    <h1 class="text-3xl justify-items-start self-auto text-blue-400 font-bold">
      RIASEC Test Result
    </h1>
    <div class="self">
      <font-awesome-icon
        icon="fa-sharp fa-regular fa-print"
        @click="takeScreenshot"
      />
    </div>
    <div class="md:m-2 justify-center">
      <p class="font-sans md:text-base">
        <span class="text-gray-600 font-bold">Name:</span>
        {{ props.userDetails.username.toUpperCase() }}
      </p>
      <p class="font-sans md:text-base">
        <span class="text-gray-600 font-bold">Email: </span
        >{{ props.userDetails.email }}
      </p>
    </div>

    <div class="bg-[#F4FAF8] border rounded-md p-2">
      <h3 class="text-black font-sans md:text-2xl">
        Your Primary Code Is
        <font-awesome-icon
          icon="fa-solid fa-arrow-right"
          class="text-blue-600/25"
        />
        <span class="text-[#F30C90] font-semibold">{{ names[0] }}</span>
      </h3>
      <h4 class="text-black font-sans md:text-2xl">
        Your Secondary Code Is
        <font-awesome-icon
          icon="fa-solid fa-arrow-right"
          class="text-blue-600/25"
        />
        <span class="text-fuchsia-500 font-semibold">{{ names[1] }}</span>
      </h4>
      <h5 class="text-black font-sans md:text-2xl">
        Your Tertiary Code Is
        <font-awesome-icon
          icon="fa-solid fa-arrow-right"
          class="text-blue-600/25"
        />
        <span class="text-pink-500 font-semibold">{{ names[2] }}</span>
      </h5>
    </div>
    <SutableJobs />
  </div>
</template>

<script setup>
import { defineProps } from "vue";
import SutableJobs from "./SutableJobs.vue";
import domtoimage from "dom-to-image";
const props = defineProps(["userDetails", "scoreDetails"]);

// filter top scores
const pickHighest = (obj, num = 1) => {
  const requiredObj = {};
  if (num > Object.keys(obj).length) {
    return false;
  }
  Object.keys(obj)
    .sort((a, b) => obj[b] - obj[a])
    .forEach((key, ind) => {
      if (ind < num) {
        requiredObj[key] = obj[key];
      }
    });
  return requiredObj;
};
const scoresArray = pickHighest(props.scoreDetails, 3);
// console.log(scoresArray);
// console.log(props.userDetails.email);
// console.log(props.scoreDetails);
const names = Object.keys(scoresArray);

//export(screen shot) functionality
const takeScreenshot = () => {
  const body = document.querySelector("body");
  domtoimage.toPng(body).then((dataUrl) => {
    const link = document.createElement("a");
    link.href = dataUrl;
    link.download = "screenshot.png";
    link.click();
  });
};
</script>

<style scoped></style>
