<template>
  <div class="card">
    <TabView v-model:activeIndex="active">
      <TabPanel header="Surveys List">
        <div class="cardsContainer">
          <div
            v-for="item in mainTopics"
            :key="item"
            class="mainCard"
            @click="setCategory(item)"
          >
            <p class="title">{{ item.name }}</p>
          </div>
        </div>
      </TabPanel>
      <TabPanel header="Questions Details">
        <h3>{{ surveyData.topic }}</h3>
        <div class="optionsContainer">
          <div class="field">
            <label class="text">Select no of questions</label>
            <Dropdown
              v-model="surveyData.noOfQuestions"
              editable
              :options="questions"
              optionLabel="name"
              optionValue="code"
              placeholder="Select no of questions"
            />
          </div>
          <div class="field">
            <label class="text">Choose no of options for mcq's</label>
            <Dropdown
              v-model="surveyData.noOfOptions"
              editable
              :options="optionsList"
              optionLabel="name"
              optionValue="code"
              placeholder="Choose options for mcq questions"
            />
          </div>
        </div>
      </TabPanel>
    </TabView>
  </div>
</template>

<script setup>
import { ref, computed, onMounted, watch } from "vue";
import TabView from "primevue/tabview";
import TabPanel from "primevue/tabpanel";
import mainTopics from "./main-topics";
const emit = defineEmits(["sendSurveyPrompt"]);
const active = ref(0);
const surveyData = ref({
  topic: null,
  prompt: null,
  noOfQuestions: null,
  noOfOptions: null,
});
// set main category
function setCategory(item) {
  active.value = 1;
  surveyData.value.topic = item.name;
  surveyData.value.prompt = item.code;
}
const surveyPrompt = computed(() => {
  const { topic, prompt, noOfQuestions, noOfOptions } = surveyData.value;
  if (
    topic !== null &&
    prompt !== null &&
    noOfQuestions !== null &&
    noOfOptions !== null
  ) {
    return `Generate a ${surveyData.value.topic} consisting of ${surveyData.value.noOfQuestions} multiple choice questions with ${surveyData.value.noOfOptions} options each. Multiple choice should be in dict format.`;
  } else {
    return "";
  }
});
watch(surveyPrompt, (newPrompt) => {
  if (newPrompt) {
    emit("sendSurveyPrompt", newPrompt);
  }
});
const questions = ref([
  {
    name: "5 questions",
    code: "5",
  },
  {
    name: "10 questions",
    code: "10",
  },
  {
    name: "15 questions",
    code: "15",
  },
]);
// options list
const optionsList = ref([
  {
    name: "2",
    code: "2",
  },
  {
    name: "3",
    code: "3",
  },
  {
    name: "4",
    code: "4",
  },
]);
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
.cardsContainer {
  @include flex-distribute;
  flex-wrap: wrap;
  .mainCard {
    padding: $s150;
    @include shadow($level: 2);
    border-radius: $s_25;
    margin: $s_50;
    cursor: pointer;
    min-width: 15rem;
    &:hover {
      background-color: $cardhoverbg !important;
      p {
        font-weight: 600;
      }
    }
  }
  .title {
    &:hover {
      font-weight: 600;
    }
  }
}
.optionsContainer {
  @include flex;
  .field {
    @include flex-v;
    & > * {
      margin-bottom: 0.5rem; /* add margin between child elements */

      &:last-child {
        margin-bottom: 0; /* remove margin from last child element */
      }
    }
    .text {
      align-self: flex-start;
    }
  }
}
</style>
