<script setup>
import Sidebar from "./components/Sidebar.vue";
import { useToast } from "primevue/usetoast";
const toast = useToast();
</script>

<template>
  <router-view></router-view>
  <DynamicDialog />
</template>

<style lang="scss">
@import "./assets/styles/first_task.scss";
</style>
