@import "config";
@import "mixins";
@import "overrides";
@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}
body {
  background: var(--white);
  min-height: 100vh;
  min-width: 100%;
}
button {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden !important;
}
main {
  width: calc(100%);
  background-color: $white;
  min-height: 100vh;
  padding: $s;

  overflow: hidden !important;
}

.p-button-danger {
  background-color: $danger;
  border-radius: $s;
}

.card {
  background-color: white;
  border-radius: $s;
  padding: $s50;
}

@media screen and (max-width: $br-tab) {
  aside {
    display: flex;
    flex-grow: 1;
    display: none;
    position: fixed;

    &.open,
    page {
      overflow: hidden;
      overflow-x: hidden;
      overflow: -moz-hidden-unscrollable;
      display: block !important;

      min-height: 100vh !important;
      min-width: 100vw !important;
    }
  }
  header {
    margin-top: $s50;
  }
}
@media screen and (min-width: $br-tab) {
  aside {
    display: flex;
    flex-grow: 1;
    min-width: $s1500 !important;
  }

  @media screen and (min-width: $br-tab) {
    main {
      margin-left: $s1500 !important;
      max-width: 1350px;
      padding-top: $s_25;
    }
    hr {
      color: black;
      background-color: black !important;
    }

    header {
      display: none;
    }
  }
}

.surveyTitle {
  max-width: fit-content;
  &:hover {
    cursor: pointer;
  }
}
p {
  font-size: $s !important;
}
.error {
  color: red;
}
input {
  max-height: $s250;
}
