<template>
  <div>
    <template v-if="activeTab === 'Survey'">
      <div v-if="surveysList.length > 0" class="cardsContainer">
        <div v-for="survey in surveysList" :key="survey.id">
          <Card :data="survey" @onEdit="onEditSurvey" />
        </div>
      </div>
      <div v-else>
        <h4>No survey's found</h4>
      </div>
    </template>
    <template v-else>
      <div v-if="quizsList.length > 0" class="cardsContainer">
        <div v-for="quiz in quizsList" :key="quiz.id">
          <Card :data="quiz" @onEdit="onEditSurvey" />
        </div>
      </div>
      <div v-else>
        <h4>No quiz's found</h4>
      </div>
    </template>
  </div>
</template>
<script setup>
import { useAppStore } from "../../stores/appStore";
import { useHomeStore } from "../../stores/adminHome";
import { useQuestionareStore } from "../../stores/addQuestions";
import Card from "../../components/workspace/Card.vue";
import cookie from "store";

const props = defineProps({
  activeTab: {
    type: String,
    default: "Survey",
  },
});
// stores
const appStore = useAppStore();
const homeStore = useHomeStore();
const questionActionStore = useQuestionareStore();
// computed properties
const menubarOpen = computed(() => appStore.menubarOpen);
const adminName = computed(() => homeStore.adminName);
const getCurrentView = computed(() => homeStore.currentView);
const quizsList = computed(() => homeStore.quizsData.quizsList);
const surveysList = computed(() => homeStore.surveysData.survyesList);
const workSpaceAction = computed(() => homeStore.newWorkSpace.action);
const workSpaceType = computed(() => homeStore.newWorkSpace.type);
const admin_id = cookie.get("adminId");
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
</style>
