<template>
  <div class="page">
    <aside :class="{ open: menubarOpen }">
      <Sidebar />
    </aside>
    <main>
      <Toast />
      <ConfirmDialog></ConfirmDialog>
      <div>
        <div class="nav-nameConatiner">
          <header><hamburger /></header>
          <div class="name-container">
            <h1 v-if="adminName != ''">Welcome {{ adminName }}</h1>
          </div>
        </div>
        <div class="subContainer" v-if="!menubarOpen">
          <div class="mainTab">
            <SelectButton
              v-model="activeTab"
              :options="options"
              aria-labelledby="basic"
            />
            <div class="buttonContainer">
              <Button
                :label="buttonText"
                icon="pi pi-plus"
                severity="secondary"
                text
                raised
                @click="addNewWorkSpace"
              />
            </div>
          </div>
          <hr />
        </div>
        <div class="contentContainer">
          <SortingHeader @changeView="updateView" />
          <template v-if="currentview === 'Grid'">
            <template v-if="activeTab === 'Survey'">
              <div v-if="surveysList.length > 0" class="cardsContainer">
                <div v-for="survey in surveysList" :key="survey.id">
                  <Card :data="survey" @onEdit="onEditSurvey" />
                </div>
              </div>
              <div v-else>
                <h4>No survey's found</h4>
              </div>
            </template>
            <template v-else>
              <div v-if="quizsList.length > 0" class="cardsContainer">
                <div v-for="quiz in quizsList" :key="quiz.id">
                  <Card :data="quiz" @onEdit="onEditSurvey" />
                </div>
              </div>
              <div v-else>
                <h4>No quiz's found</h4>
              </div>
            </template>
          </template>
          <template v-else>
            <template v-if="activeTab === 'Survey'">
              <div v-if="surveysList.length > 0" class="cardsContainer">
                <ListHeader />
                <div v-for="survey in surveysList" :key="survey.id">
                  <ListView :data="survey" @onEdit="onEditSurvey" />
                </div>
              </div>
              <div v-else>
                <h4>No survey's found</h4>
              </div>
            </template>
            <template v-else>
              <div v-if="quizsList.length > 0" class="listContainer">
                <ListHeader />
                <div v-for="quiz in quizsList" :key="quiz.id">
                  <ListView :data="quiz" @onEdit="onEditSurvey" />
                </div>
              </div>
              <div v-else>
                <h4>No quiz's found</h4>
              </div>
            </template>
          </template>
        </div>
        <div v-if="workSpaceAction === 'edit' || workSpaceAction === 'new'">
          <Dialog
            v-model:visible="visible"
            modal
            :style="{ width: '70vw' }"
            :breakpoints="{ '960px': '75vw', '641px': '100vw' }"
          >
            <template #header>
              <div class="custom-header">
                <h2>
                  {{
                    workSpaceAction === "edit"
                      ? `Edit ${workSpaceType} `
                      : `New ${workSpaceType}`
                  }}
                </h2>
              </div>
            </template>
            <SurveyForm
              :title="activeSurveyDetails.title"
              :description="activeSurveyDetails.description"
              :surveyId="activeSurveyDetails.id"
              :logo="activeSurveyDetails.logo"
              :formType="activeSurveyDetails.formType"
            />
          </Dialog>
        </div>
      </div>
    </main>
  </div>
</template>

<script setup>
import {
  computed,
  onMounted,
  watch,
  reactive,
  ref,
  defineAsyncComponent,
} from "vue";
import { useAppStore } from "../../stores/appStore";
import { useHomeStore } from "../../stores/adminHome";
import { useQuestionareStore } from "../../stores/addQuestions";
import Card from "../../components/workspace/Card.vue";
import ListHeader from "../../components/workspace/ListHeader.vue";
import ListView from "../../components/workspace/ListView.vue";
import SortingHeader from "../../components/ui/SortingHeader.vue";
import SurveyForm from "../../components/survey/SurveyForm.vue";
import SelectButton from "primevue/selectbutton";
import Dialog from "primevue/dialog";
import { useDialog } from "primevue/usedialog";
import cookie from "store";
// stores
const appStore = useAppStore();
const homeStore = useHomeStore();
const questionActionStore = useQuestionareStore();
// computed properties
const menubarOpen = computed(() => appStore.menubarOpen);
const adminName = computed(() => homeStore.adminName);
const getCurrentView = computed(() => homeStore.currentView);
const quizsList = computed(() => homeStore.quizsData.quizsList);
const surveysList = computed(() => homeStore.surveysData.survyesList);
const workSpaceAction = computed(() => homeStore.newWorkSpace.action);
const workSpaceType = computed(() => homeStore.newWorkSpace.type);
const admin_id = cookie.get("adminId");
// data
const visible = ref(false);
const activeTab = ref("Survey");
const options = ref(["Survey", "Quiz"]);
const currentview = ref("Grid");
const buttonText = computed(() => {
  if (activeTab.value === "Survey") {
    return "Create Survey";
  } else {
    return "Create Quiz";
  }
});

const activeSurveyDetails = ref({
  title: null,
  description: null,
  logo: null,
  formType: null,
  id: null,
});
// active tab monitoring
watch(activeTab, (newValue, oldValue) => {
  questionActionStore.workSpace.type = newValue;
  questionActionStore.workSpace.action = null;
});
// checking action
watch(workSpaceAction, (newAction) => {
  // console.log(workSpaceAction, newAction);
  questionActionStore.workSpace.action = newAction;
  visible.value = true;
});
// functions
function addNewWorkSpace() {
  visible.value = true;
  homeStore.newWorkSpace.action = "new";
  homeStore.newWorkSpace.type = activeTab.value;
}
function onEditSurvey(data) {
  visible.value = true;
  activeSurveyDetails.value.title = data.survey_title;
  activeSurveyDetails.value.description = data.survey_description;
  activeSurveyDetails.value.logo = data.logo_url;
  activeSurveyDetails.value.formType = data.form_type;
  activeSurveyDetails.value.id = data.id;
}

function updateView(type) {
  currentview.value = type;
}

onMounted(async () => {
  await homeStore.getQuestionares(admin_id);
  setTimeout(async () => {
    await homeStore.getRelatedForms(admin_id, "Quiz");
    await homeStore.getRelatedForms(admin_id, "Survey");
  }, 4000);
});
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
.nav-nameConatiner {
  @media screen and (min-width: $br-tab) {
    .name-container {
      min-width: 80%;
      h1 {
        font-size: $s150;
        text-align: center;
      }
    }
  }
  display: flex;
  .name-container {
    h1 {
      font-size: $s150;
      text-align: center;
    }
  }
}
.name-container {
  text-align: center;
  min-width: 100%;
}

@media (min-width: $br-tab) {
  .name-container {
    padding: $s_50 !important;
    text-align: center !important;
  }
}
.heading {
  text-align: center !important;
}
.tabContainer {
  max-width: 1000px;
}
.subContainer {
  @media (min-width: $br-tab-pro) {
    max-width: 1000px;
  }
  .mainTab {
    flex-grow: 1 !important;
    @include flex;
    .tabview-custom {
      max-width: 300px;
    }
    .buttonContainer {
      margin-left: auto;
    }
  }
  hr {
    border: none;
    height: $s10 !important;
    background-color: $tab-color !important;
    margin-top: $s_50;
  }
}
.contentContainer {
  .cardsContainer {
    align-self: flex-start;
    @include flex;
    @media (min-width: $br-tab-pro) {
      max-width: 1000px;
      max-height: 450px;
    }
    overflow: auto;
    flex-wrap: wrap;
  }
}
</style>
