<template>
  <div class="page">
    <aside :class="{ open: menubarOpen }">
      <Sidebar />
    </aside>
    <main>
      <div class="nav-nameConatiner">
        <header><hamburger /></header>
        <div class="name-container">
          <h1>Responses</h1>
        </div>
      </div>
      <div class="subContainer" v-if="!menubarOpen">
        <div class="mainTab">
          <SelectButton
            v-model="activeTab"
            :options="options"
            aria-labelledby="basic"
          />
        </div>
        <hr />
      </div>
      <p>{{ activeTab }}</p>
      <div class="contentContainer">
        <SortingHeader />
        <template v-if="activeTab === 'Survey'">
          <div v-if="surveysList.length > 0" class="cardsContainer">
            <div v-for="survey in surveysList" :key="survey.id">
              <ResponseCard :data="survey" />
            </div>
          </div>
          <div v-else>
            <h4>No survey's found</h4>
          </div>
        </template>
        <template v-else>
          <div v-if="quizesList.length > 0" class="cardsContainer">
            <div v-for="quiz in quizesList" :key="quiz.id">
              <ResponseCard :data="quiz" />
            </div>
          </div>
          <div v-else>
            <h4>No quiz's found</h4>
          </div>
        </template>
      </div>
    </main>
  </div>
</template>
<script setup>
import {
  computed,
  onMounted,
  reactive,
  ref,
  defineAsyncComponent,
  watch,
} from "vue";
import { useAppStore } from "../../stores/appStore";
import { useResponsesStore } from "../../stores/responses";
import ResponseCard from "../../components/responses/ResponseCard.vue";
import SelectButton from "primevue/selectbutton";
import cookie from "store";
import _ from "lodash";
const appStore = useAppStore();
const responseStore = useResponsesStore();
// computed properties
const menubarOpen = computed(() => appStore.menubarOpen);
const surveysList = computed(() => responseStore.surveysData.publishedList);
const quizesList = computed(() => responseStore.quizesData.quizesList);
const admin_id = cookie.get("adminId");
const currentview = ref("Grid");
const activeTab = ref("Survey");
const options = ref(["Survey", "Quiz"]);

onMounted(async () => {
  await responseStore.getPublishedWorkSpaces(admin_id, "Survey");
  await responseStore.getPublishedWorkSpaces(admin_id, "Quiz");
});
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
.page {
  overflow: hidden;
}
.nav-nameConatiner {
  @media screen and (min-width: $br-tab) {
    .name-container {
      min-width: 80%;
      h1 {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
  display: flex;
  .name-container {
    h1 {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}
.name-container {
  text-align: center;
  min-width: 100%;
}
@media (min-width: $br-tab) {
  .name-container {
    padding: $s_25 !important;
    text-align: center !important;
  }
}
.tab-container {
  @media (min-width: $br-tab) and (max-width: $br-tab-pro) {
    max-width: 1000px;
  }
  hr {
    height: $s10;
    flex-grow: 1;
    max-width: 1000px;
    margin-top: $s50;
  }
}

.contentContainer {
  .cardsContainer {
    align-self: flex-start;
    @include flex;
    @media (min-width: $br-tab-pro) {
      max-width: 1000px;
      max-height: 450px;
    }
    overflow: auto;
    flex-wrap: wrap;
  }
}
</style>
