<template>
  <footer>
    <hr />
    <p class="text">&copy; 2023 Turiyatree Turiyaform</p>
  </footer>
</template>
<script setup></script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";

.text {
  font-size: $s75 !important;
}
</style>
