<template>
  <div class="header">
    <div>
      <Image :src="workSpaceLogo" alt="Image" width="100" preview />
    </div>
    <h1 class="heading">{{ title }}</h1>
    <p v-if="formType === 'Quiz'">00:00</p>
  </div>
</template>
<script setup>
import { ref, computed, onMounted, watch } from "vue";
import { useRoute } from "vue-router";
import { userStore } from "../../../stores/userExam";
import Image from "primevue/image";
// stores
const route = useRoute();
const useStore = userStore();
// computed properties
const questionsList = computed(() => useStore.questionsList);
const workSpaceLogo = computed(() => useStore.logo);
const title = computed(() => useStore.title);
const formType = computed(() => useStore.form_type);
onMounted(async () => {});
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";

.header {
  @include flex;
  padding: $s_25;
  margin-top: $s_50;
  margin-bottom: $s_50;
  > div {
    flex: 0 0 auto;
  }

  h1 {
    flex: 1;
    text-align: center;
  }
}
</style>
