<template>
  <div :class="{ bgContainer: !completed }">
    <p>{{ currentView }}</p>
    <template v-if="currentView === 'loading'">
      <div class="card flex justify-content-center">
        <ProgressSpinner />
      </div>
    </template>
    <template v-else>
      <div class="chatContainer" v-if="!completed">
        <div class="header">
          <chatHeader />
        </div>
        <hr />
        <div class="oldMessages" ref="containerRef">
          <div
            class="completedQuestion"
            v-for="data in answeredQuestions"
            :key="data.question.id"
          >
            <completedQuestion :data="data" />
          </div>
          <div class="question">
            <div class="activeQuestionContainer">
              <p class="questionText">{{ getCurrentQuestion().question }}</p>
            </div>
            <div v-if="getCurrentQuestion().question_type != 'Text'">
              <currentQuestion
                :data="getCurrentQuestion()"
                @submited="onSubmit"
              />
            </div>
          </div>
        </div>
        <!-- <div class="inputContainer">
          <InputText
            v-model="userAns"
            @keydown.enter="nextQuestion"
            type="text"
            placeholder="Type your answer"
            :disabled="inputDisabled"
          />
          <Button
            icon="pi pi-send"
            :disabled="inputDisabled"
            @click="nextQuestion"
          />
        </div> -->
        <div class="input-container">
          <span class="p-input-icon-right">
            <i
              class="pi pi-send"
              style="font-size: 1rem"
              @click="nextQuestion"
            />
            <InputText
              v-model="userAns"
              @keydown.enter="nextQuestion"
              placeholder="Type your answer"
              :disabled="inputDisabled"
            />
          </span>
        </div>

        <div class="footer">
          <chatFooter />
        </div>
      </div>
      <div v-else>
        <template v-if="formType === 'Quiz'">
          <quizReport
            :data="answeredQuestions"
            :duration="formatDuration(calculateDuration())"
          />
        </template>
        <template v-else>
          <surveyReport
            :data="answeredQuestions"
            :duration="formatDuration(calculateDuration())"
          />
        </template>
      </div>
    </template>
  </div>
</template>

<script setup>
import { ref, computed, onMounted, watch, nextTick } from "vue";
import _ from "lodash";
import { useRoute } from "vue-router";
import { userStore } from "../../../stores/userExam";
import chatFooterVue from "./chatFooter.vue";
import chatHeader from "./chatHeader.vue";
import chatFooter from "./chatFooter.vue";
import completedQuestion from "./completedQuestion.vue";
import currentQuestion from "./currentQuestion.vue";
import ProgressSpinner from "primevue/progressspinner";
import quizReport from "./quizReport.vue";
import surveyReport from "./surveyReport.vue";
import RadioButton from "primevue/radiobutton";
import moment from "moment";
const route = useRoute();
const useStore = userStore();
const containerRef = ref(null);
const activeQuestionIndex = ref(0);
const userAns = ref(null);
const completed = ref(false);
const inputDisabled = ref(false);
const timeToRespond = ref({
  startTime: null,
  endTime: null,
});
const commonQuestions = [
  {
    question: "What is your name",
    question_type: "Text",
    id: 1,
    correct_ans: null,
  },
  {
    question: "What is your email",
    question_type: "Text",
    id: 2,
    correct_ans: null,
  },
];
const answeredQuestions = ref([]);
const questionsList = computed(() => useStore.questionsList);
const showInputBox = computed(() =>
  getCurrentQuestion().question_type == "Text" ? true : false
);
const computedProperty = computed(() => {
  if (
    activeQuestionIndex.value <
    commonQuestions.length + questionsList.value.length
  ) {
    if (getCurrentQuestion().question_type === "Text") {
      return false;
    } else {
      return true;
    }
  }
  return false;
  // Replace with your computed property value
});
const currentView = computed(() => userStore.currentView);
const formType = computed(() => useStore.form_type);
watch(computedProperty, (value) => {
  inputDisabled.value = value;
});

function storeAnsweredQuestions(ans) {
  const data = getCurrentQuestion();
  const collected_ans = ans;
  answeredQuestions.value.push({
    question: data,
    collected_ans: collected_ans,
  });
}

function getCurrentQuestion() {
  if (activeQuestionIndex.value < commonQuestions.length) {
    return commonQuestions[activeQuestionIndex.value];
  } else {
    return questionsList.value[
      activeQuestionIndex.value - commonQuestions.length
    ];
  }
}

function nextQuestion(user_ans) {
  if (
    activeQuestionIndex.value <
    commonQuestions.length + questionsList.value.length
  ) {
    const question_type = getCurrentQuestion().question_type;
    if (question_type === "Text") {
      storeAnsweredQuestions(userAns.value);
    } else {
      storeAnsweredQuestions(user_ans);
    }
  }

  userAns.value = null;
  activeQuestionIndex.value = activeQuestionIndex.value + 1;
}

function onSubmit(user_ans) {
  nextQuestion(user_ans);
}
watch(
  () => answeredQuestions.value.length,
  () => {
    scrollContainerToBottom();
  }
);
watch(activeQuestionIndex, (newValue, oldValue) => {
  if (newValue === commonQuestions.length + questionsList.value.length) {
    completed.value = true;
    timeToRespond.value.endTime = moment();
  }
});
function scrollContainerToBottom() {
  nextTick(() => {
    const container = containerRef.value;
    container.scrollTop = container.scrollHeight;
  });
}
// duration functionality
function calculateDuration() {
  const startTime = timeToRespond.value.startTime;
  const endTime = timeToRespond.value.endTime;
  return moment.duration(endTime.diff(startTime));
}

function formatDuration(duration) {
  const hours = duration.hours();
  const minutes = duration.minutes();
  const seconds = duration.seconds();
  return `${hours}:${minutes}:${seconds}`;
}
onMounted(async () => {
  await useStore.getQuestionsList(route.params.id, route.params.uuid);
  timeToRespond.value.startTime = moment();
});
</script>

<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
.bgContainer {
  min-height: 100vh;
  background-color: $primary;
  padding: $s;
  @media (min-width: $br-mobile) and (max-width: $br-tab-mini) {
    padding: $s_50;
  }
  .chatContainer {
    background-color: $white;
    @include shadow($level: 2);
    border-radius: $s_50;
    padding-left: $s;
    padding-right: $s;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: $br-tab-pro) {
      max-width: 800px;
    }
    @media (min-width: $br-tab-mini) and (max-width: $br-tab-pro) {
      max-width: 700px;
    }
    @media (min-width: $br-mobile) and (max-width: $br-tab-mini) {
      max-width: 500px;
      margin-left: $s;
      margin-right: $s;
      border-radius: $s_50;
    }
    .header {
      margin-bottom: $s;
    }
    .oldMessages {
      min-height: 330px;
      max-height: 330px;
      overflow: auto;
      @media (min-width: $br-mobile) and (max-width: $br-tab-mini) {
        min-height: 400px;
      }
    }
    .activeQuestionContainer {
      padding: $s50;
      background-color: $black;
      max-width: fit-content;
      border-radius: $s50 $s150 $s10 $s50;
      margin-left: auto;
      margin-right: $s;
      @include fadeAnimation(1.4s);
      @media (min-width: $br-mobile) and (max-width: $br-tab-mini) {
        max-width: 280px;
      }
      margin-top: $s_50;
      p {
        color: white;
      }
    }
    .input-container {
      @include flex;
      margin-top: 80px;
      padding: $s_50;
      .p-inputtext {
        @media (min-width: $br-tab-pro) {
          min-width: 750px !important;
        }
        @media (min-width: $br-mobile) and (max-width: $br-tab) {
          flex-grow: 1;
        }
      }
      .p-button {
        max-height: $s250;
        margin-left: $s_50;
        @media (min-width: $br-mobile) and (max-width: $br-tab) {
          min-width: $s250;
        }
      }
    }
    .footer {
      text-align: center;
      margin-top: auto;
      padding: $s_25;
      @media (min-width: $br-mobile) and (max-width: $br-tab) {
        margin-top: 100px;
      }
    }
  }
}
</style>
