<template>
  <div class="questionContainer">
    <p class="text">{{ data.question.question }}</p>
  </div>
  <div class="ansContainer">
    <p class="text">{{ data.collected_ans }}</p>
  </div>
</template>
<script setup>
import { ref, watch, onMounted, computed } from "vue";
const props = defineProps({
  data: {
    type: Object,
    default: {},
  },
});
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
.questionContainer {
  padding: $s50 $s50 $s50 $s50;
  background-color: $black;
  max-width: fit-content !important;
  border-radius: $s50 $s150 $s10 $s50;
  margin-top: $s_50;
  margin-bottom: $s_50;
  margin-left: auto !important;
  margin-right: $s;
  @media (max-width: $br-tab-mini) {
    max-width: 280px;
  }
  .text {
    max-width: fit-content;
    color: $white;
  }
}
.ansContainer {
  min-width: 50px;
  margin-right: $s_50;
  padding-top: $s10;
  padding-bottom: $s10;
  padding-left: $s_50;
  padding-right: $s_50;
  border-radius: $s150 $s $s $s10;
  max-width: fit-content;
  border-width: $s10;
  border-color: $black;
  @include fadeAnimation(0.6s);
}
</style>
