<template>
  <div class="optionsContainer">
    <div v-if="data.question_type === 'MCQ' || data.question_type === 'Yes/No'">
      <div
        v-for="(category, index) in transformedArray"
        :key="category.name"
        class="buttonContainer"
      >
        <Button
          :label="category.name"
          severity="warning"
          outlined
          @click="onClickRadioButton(category.name)"
        />
      </div>
    </div>
    <div v-if="data.question_type === 'rating'">
      <Rating v-model="ratingValue" :stars="5" :cancel="false" />
    </div>
  </div>
</template>
<script setup>
import { ref, onUnmounted, watch, onMounted, computed } from "vue";
import RadioButton from "primevue/radiobutton";
import Rating from "primevue/rating";
import _ from "lodash";
const props = defineProps({
  data: {
    type: Object,
    default: {},
  },
});
const emit = defineEmits(["submited"]);
function transformObject(obj) {
  return _.map(obj, (value, key) => ({ name: value, key }));
}
const selectedOption = ref(null);
const ratingValue = ref(null);
const transformedArray = computed(() =>
  transformObject(props.data.questions_ans)
);
watch(ratingValue, (newValue, oldValue) => {
  console.log(newValue, oldValue);
  emit("submited", JSON.stringify(ratingValue.value));
});
function onClickRadioButton(value) {
  emit("submited", value);
}
onMounted(() => {
  console.log(selectedOption.value);
});
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
.optionsContainer {
  padding: $s_25;
  max-width: fit-content;
  border-radius: $s_25;
  margin-left: auto;
  margin-right: $s;
  @include fadeAnimation(1s);
  .p-button {
    margin-top: $s50;
  }
}
</style>
