<template>
  <div class="page-container">
    <div class="mainContainer">
      <h1 class="heading">{{ title }} report</h1>
      <div class="optionsContainer">
        <h4>Completed in {{ props.duration }} hr</h4>
        <h4>Score: {{ calculateScore(data).percentage }} %</h4>
        <div class="iconsContainer">
          <span v-tooltip.bottom="'Download'" @click="exportCSV()">
            <i class="pi pi-download"></i>
          </span>
          <span v-tooltip.top="'Share'">
            <i class="pi pi-share-alt"></i>
          </span>
        </div>
      </div>
      <hr />
      <div class="tableContainer">
        <DataTable
          :value="props.data"
          stripedRows
          showGridlines
          ref="dt"
          tableStyle="min-width: 50rem"
          scrollable
          scrollHeight="400px"
        >
          <Column field="question.question" header="Question"></Column>
          <Column field="collected_ans" header="Your Answer">
            <template #body="{ field, data, rowIndex }">
              <div
                :class="
                  data[field] ===
                  (data.question.correct_ans !== null
                    ? data.question.correct_ans
                    : data[field])
                    ? 'text-green-600'
                    : 'text-red-500'
                "
              >
                {{ data[field] }}
              </div>
            </template>
          </Column>
          <Column field="question.correct_ans" header="Correct Answer"></Column>
        </DataTable>
      </div>
    </div>
    <footer>
      <chatFooter />
    </footer>
  </div>
</template>
<script setup>
import { ref, computed, onMounted, watch } from "vue";
import { userStore } from "../../../stores/userExam";
import _ from "lodash";
import { useRoute } from "vue-router";
import chatFooter from "./chatFooter.vue";
import chatHeader from "./chatHeader.vue";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import ColumnGroup from "primevue/columngroup"; // optional
import Row from "primevue/row"; // optional
// stores
const useStore = userStore();
const route = useRoute();
// computed properties
const title = computed(() => useStore.title);
const props = defineProps({
  data: {
    type: Object,
    default: null,
  },
  duration: {
    type: String,
    default: "Time",
  },
});
const dt = ref();
const exportCSV = () => {
  dt.value.exportCSV();
};

function calculateScore(data) {
  // Filter out the questions where collected_ans is null or correct_ans is null
  const filteredData = _.filter(data, (item) => {
    const question = _.get(item, "question");
    const correctAns = _.get(question, "correct_ans");
    const collectedAns = _.get(item, "collected_ans");
    return collectedAns !== null && correctAns !== null;
  });

  // Calculate the total number of questions
  const totalQuestions = filteredData.length;

  // Calculate the number of correct answers
  const correctAnswers = _.filter(filteredData, (item) => {
    const question = _.get(item, "question");
    const correctAns = _.get(question, "correct_ans");
    const collectedAns = _.get(item, "collected_ans");
    return collectedAns === correctAns;
  }).length;
  const scorePercentage = ((correctAnswers / totalQuestions) * 100).toFixed(2);

  return {
    achived: correctAnswers,
    total: totalQuestions,
    percentage: parseFloat(scorePercentage),
  };
}

onMounted(async () => {
  const data = props.data.slice(2); // Eliminate the first two objects from the data array
  const transformedData = _.reduce(
    data,
    (result, { question, collected_ans }) => {
      result[question.id] = collected_ans;
      return result;
    },
    {}
  );
  const userData = {
    username: props.data[0].collected_ans,
    email: props.data[1].collected_ans,
    user_ans_list: transformedData,
    survey_id: route.params.id,
    duration: props.duration,
    total_score: calculateScore(props.data).total,
    achieved_score: calculateScore(props.data).achived,
    percentage: calculateScore(props.data).percentage,
  };
  await useStore.postUserData(userData);
});
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
@import "src/assets/styles/overrides.scss";
.page-container {
  min-height: 100vh;
  @include flex-v;
  footer {
    margin-top: auto;
  }
}
.mainContainer {
  padding: $s50;
  max-height: fit-content;
  .heading {
    text-align: center;
  }
  .tableContainer {
    @media (min-width: $br-tab-pro) {
      width: 1000px;
    }
    @media (min-width: $br-tab) and (max-width: $br-tab-pro) {
      width: 700px;
    }
    @media (min-width: $br-tab-mini) and (max-width: $br-tab) {
      width: 600px;
    }
    @media (min-width: $br-mobile) and (max-width: $br-note) {
      width: 380px;
    }
  }
  .optionsContainer {
    @include flex-distribute;
    .iconsContainer {
      & > * {
        /* add margin between child elements */
        margin-right: $s;
      }
    }
  }
}
::v-deep(.my-table) {
  .p-datatable-tbody {
    tr {
      background-color: black !important;
    }
  }
}
</style>
