<template>
  <div class="page-container">
    <div class="mainContainer">
      <h1 class="heading">{{ title }} report</h1>
      <div class="optionsContainer">
        <h4>Completed in {{ props.duration }} hr</h4>
        <div class="iconsContainer">
          <span v-tooltip.top="'Download'" @click="exportCSV()">
            <i class="pi pi-download"></i>
          </span>
          <span v-tooltip.top="'Download'" @click="makeAndDownloadPdf">
            Pdf download
          </span>

          <span v-tooltip.top="'Share'">
            <i class="pi pi-share-alt" @click="shareReport"></i>
          </span>
        </div>
      </div>
      <hr />
      <div class="tableContainer">
        <DataTable
          :value="props.data"
          stripedRows
          showGridlines
          ref="dt"
          tableStyle="min-width: 50rem"
          scrollable
          scrollHeight="400px"
        >
          <Column field="question.question" header="Question"></Column>
          <Column field="collected_ans" header="Your Answer"> </Column>
        </DataTable>
      </div>
    </div>
    <footer>
      <chatFooter />
    </footer>
  </div>
</template>
<script setup>
import { ref, computed, onMounted, watch } from "vue";
import { userStore } from "../../../stores/userExam";
import _ from "lodash";
import { useRoute } from "vue-router";
import chatFooter from "./chatFooter.vue";
import chatHeader from "./chatHeader.vue";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import ColumnGroup from "primevue/columngroup"; // optional
import Row from "primevue/row"; // optional
import html2canvas from "html2canvas";
import jsPDF from "jspdf";
// stores
const useStore = userStore();
const route = useRoute();
// computed properties
const title = computed(() => useStore.title);
const props = defineProps({
  data: {
    type: Object,
    default: null,
  },
  duration: {
    type: String,
    default: "Time",
  },
});
const dt = ref();
const exportCSV = () => {
  dt.value.exportCSV();
};
onMounted(async () => {
  const data = props.data.slice(2); // Eliminate the first two objects from the data array
  const transformedData = _.reduce(
    data,
    (result, { question, collected_ans }) => {
      result[question.id] = collected_ans;
      return result;
    },
    {}
  );
  const userData = {
    username: props.data[0].collected_ans,
    email: props.data[1].collected_ans,
    user_ans_list: transformedData,
    survey_id: route.params.id,
    duration: props.duration,
  };
  await useStore.postUserData(userData);
});

function makeAndDownloadPdf() {
  window.html2canvas = html2canvas;
  var doc = new jsPDF("p", "pt", "a4");
  doc.html(document.querySelector("#app"), {
    callback: function (pdf) {
      pdf.save("myreport.pdf");
    },
  });
}

const shareReport = async () => {
  try {
    if (navigator.share) {
      await navigator.share({
        title: "My Report",
        text: "Check out this awesome report!",
        url: window.location.href,
      });
      console.log("Report shared successfully");
    } else {
      throw new Error("Web Share API not supported");
    }
  } catch (error) {
    console.error("Error sharing report:", error);
  }
};
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
@import "src/assets/styles/overrides.scss";
.page-container {
  min-height: 100vh;
  @include flex-v;
  footer {
    margin-top: auto;
  }
}
.mainContainer {
  padding: $s50;
  max-height: fit-content;
  .heading {
    text-align: center;
  }
  .tableContainer {
    @media (min-width: $br-tab-pro) {
      width: 1000px;
    }
    @media (min-width: $br-tab) and (max-width: $br-tab-pro) {
      width: 700px;
    }
    @media (min-width: $br-tab-mini) and (max-width: $br-tab) {
      width: 600px;
    }
    @media (min-width: $br-mobile) and (max-width: $br-note) {
      width: 380px;
    }
  }
  .optionsContainer {
    @include flex-distribute;
    .iconsContainer {
      & > * {
        /* add margin between child elements */
        margin-right: $s;
      }
    }
  }
}
</style>
