<script setup>
import { computed } from "vue";
import { useAppStore } from "@/stores/appStore.js";
const appStore = useAppStore();
// const menubarOpen = computed(() => appStore.menubarOpen);

// get navbar open close staus
async function toggle() {
  await appStore.toggleMenubar();
}
</script>

<template lang="pug">
a.hamburger(@click="toggle")
  span
    i.pi.pi-bars
</template>

<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";
@media screen and (max-width: $br-tab) {
  .hamburger {
    display: block;
  }
}
@media screen and (min-width: $br-tab) {
  .hamburger {
    display: none;
  }
}
</style>
