<template>
  <div class="main-container">
    <div class="bg-container">
      <div class="dropdown">
        <Dropdown
          v-model="selectedFilter"
          editable
          :options="filterOptions"
          optionLabel="name"
          optionValue="code"
          placeholder="Select"
        />
      </div>
      <div class="style-container">
        <div class="field" @click="changeView('List')">
          <i class="pi pi-list" style="font-size: 1.2rem"></i>
          <p class="text">List</p>
        </div>
        <div class="field" @click="changeView('Grid')">
          <i class="pi pi-table" style="font-size: 1.2rem"></i>
          <p class="text">Grid</p>
        </div>
      </div>
      <hr />
    </div>
  </div>
</template>
<script setup>
import { ref, onMounted, watch, computed } from "vue";
const selectedFilter = ref("Date created");
const selectedView = ref("Grid");
const emit = defineEmits(["changeView"]);
const filterOptions = ref([
  { name: "Alphabetical", code: "Aa" },
  { name: "Last updated", code: "Lc" },
  { name: "Date created", code: "Dc" },
]);
watch(selectedView, (newValue, oldValue) => {
  emit("changeView", newValue);
});
function changeView(view) {
  selectedView.value = view;
}
</script>
<style lang="scss" scoped>
@import "src/assets/styles/config.scss";
@import "src/assets/styles/mixins.scss";

.main-container {
  @include flex;
  max-width: 980px;
}
.bg-container {
  @include flex;
  margin-left: auto;
  margin-top: $s_50;
  .style-container {
    @include flex;
    .field {
      @include flex;
      margin-left: $s;
      cursor: pointer;
      .text {
        margin-left: $s_50;
      }
    }
    @media (max-width: $br-tab-mini) {
      display: none;
    }
  }
}
hr {
  border: none;
  height: $s10 !important;
  background-color: $tab-color !important;
  margin-top: $s_50;
}
</style>
